= form_for @content_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @content_category }

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :travel_plans_link
    = f.check_box :travel_plans_link
    %span.smalltext Helpful if this category is travel-related.

  .field
    %label
    = f.submit 'Save'
