= form_for @content_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @content_category }

  .field
    = f.label :name
    = f.text_field :name, tab_index: 1

  .field
    = f.label :table_of_contents
    = f.check_box :table_of_contents, tab_index: 2

  .field
    %label
    = f.submit 'Save'
