%h2= @content_category.name

.row-of-buttons
  - if can? :create, Content
    = button_to "New Content", new_content_path, :method => :get, params: { content_category_id: @content_category.id }
  - if can? :edit, ContentCategory
    = button_to "Edit This Category", edit_content_category_path(@content_category), :method => :get

- if @content_category.table_of_contents
  %h3
    Table of Contents
  %ul
    - @contents.each do |c|
      %li
        = link_to c.subject, content_path(c)

  %hr

- @contents.each do |c|

  %span.anchor{id: c.subject.parameterize}
  %div.content-item
    %h3
      = c.subject

    = markdown(c.body).html_safe
    - if can? :manage, c
      .row-of-buttons
        = button_to "Edit", edit_content_path(c), :method => :get
        = button_to "Delete", c, :method => :delete, :data => {:confirm => 'Are you sure?'}
