%h2 Volunteers
:markdown
  From **tournament directors** to the people who volunteer
  **only a few hours at the front desk**, we need your help.
  The Go Congress would not be possible without the
  dedication of dozens of volunteers.

- if @year.year == 2012
  %p
    Please
    - peter = "parmenia@earthlink.net"
    - paul = "pcelmer@earthlink.net"
    = mail_to(paul, "contact the congress directors", :cc => peter)
    to volunteer at this year’s congress.
- else
  %p= link_to "Volunteer Opportunities", jobs_path

%h2 Contact Us

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th Position
      %th Name
      %th Email
  %tbody
    - @user_jobs.each do |uj|
      %tr
        %td= uj.job.jobname
        %td= uj.user.coalesce_full_name_then_email

        -# Note how we display the public job.email
        -# instead of the private user.email
        %td= mail_to uj.job.email

    - @tournaments.each do |t|
      %tr
        %td TD: #{t.name}
        %td= t.directors
        %td
