= form_for @content do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @content }

  .field
    = f.label :subject
    = f.text_field :subject    
  .field
    %label{ :for => 'body'}
      Body
      %br
      %span.smalltext
        You can format the text (bold, etc.) with
        %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown
        syntax.
    = f.text_area :body, { :class => 'wide', :rows => 5 }
    
  .field
    = f.label :expires_at
    = f.datetime_select :expires_at, :include_blank => true
  .field
    = f.label :show_on_homepage
    = f.check_box :show_on_homepage

  .field
    %label
    = f.submit 'Save'
