= form_for @content do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @content }

  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :content_category_id
    = f.select :content_category_id, content_category_options, :selected => @selected_category_id
  .field
    = render partial: "shared/md_area", locals: { :obj => :content, :atr => :body, :rows => 20 }
  .field
    = f.label :expires_at
    = f.datetime_select :expires_at, :include_blank => true
  .field
    = f.label :show_on_homepage
    = f.check_box :show_on_homepage

  .field
    %label
    = f.submit 'Save'
