%h2= smarty(@content.subject).html_safe
%p{ class: 'created-updated-dates' }
  %span{ class: 'created' }
    Created on
    %time{ datetime: @content.created_at }= @content.created_at.strftime('%B %d, %Y')

    - if @content.updated_at?
      &bull;
      %span{ class: 'updated' }
        Last updated
        %time{ datetime: @content.updated_at }= time_ago_in_words(@content.updated_at)
        ago

%div= markdown_if_present(@content.body)

%br

  = button_to "Back to #{@content.content_category.name}", content_category_path(@content.content_category), :method => :get

- if can? :manage, @content
  = button_to 'Edit', edit_content_path(@content), :method => :get
