%h2= @event_category.name.titleize

- if current_user.present?
  .flow-padding
    = form_tag choose_attendee_user_path(current_user), :method => "get" do
      = hidden_field_tag :destination_page, :events
      = submit_tag 'Sign Up for Events'
- else
  %p
    These activities are available to all
    = link_to "registrants.", new_user_registration_path
    If you have already registered, please
    = link_to "sign in", new_user_session_path
    and select the activities you want to participate in.

- if current_user_is_admin?
  .flow-padding= button_to "New Event", new_event_path, :method => "get"

%p.notice All events, prices, and times subject to change.

%table.semantic.fullwidth.zebra
  %tbody
    - @events_by_date.each do |d,arEvt|
      %tr.greater-header
        %th{ :colspan => current_user_is_admin? ? 9 : 7 }
          = d.to_formatted_s(:long_with_day)
          = " - Day Off!" if d === DAY_OFF_DATE[@year]
      %tr.lesser-header
        %th
        %th.align-center{:colspan => 2} Leaving
        %th.align-center{:colspan => 2} Returning
        %th{:colspan => current_user_is_admin? ? 4 : 2}
      %tr.lesser-header
        %th Event
        %th Depart
        %th Event Start / Arrive
        %th Depart
        %th Arrive
        %th.numeric Price
        - if current_user_is_admin?
          %th{:colspan => "2"}
      - arEvt.each do |e|
        %tr
          %td= link_to e.name, e
          %td
            - if e.depart_time.present?
              = e.depart_time.to_formatted_s(:american)
          %td= e.start.to_time.to_formatted_s(:american)
          %td
            - if e.return_depart_time.present?
              = e.return_depart_time.to_formatted_s(:american)
          %td
            - if e.return_arrive_time.present?
              = e.return_arrive_time.to_formatted_s(:american)
          %td.numeric= format_price(e.price)
          - if current_user_is_admin?
            %td= link_to 'Edit', edit_event_path(e)
            %td= link_to 'Delete', e, :confirm => 'Delete event?  If any attendees are signed up, those signups will be lost too.', :method => :delete
