- mnh = User.model_name.human

%h2= page_title

- if @users.size == 0
  %p
    Good news! There are no #{mnh.pluralize.downcase}
    with outstanding balances.
- else
  %p
    There are
    %strong= pluralize @users.size, mnh.downcase
    with outstanding balances.

  %h3 Emails
  %p Select all, then copy from the box below.
  .flow-padding
    %textarea.fullwidth{ :rows => 10 }= @email_list

  %h3 Details
  %table.semantic.fullwidth.zebra
    %thead
      %tr
        %th= "#{mnh.titleize} Email"
        %th.numeric Balance
        %th
    %tbody
      - @users.each do |u|
        %tr
          %td= u.email
          %td.numeric
            = cents_to_currency u.balance, :unit => '', :negative_format => "(%n)"
          %td.align-center= link_to "Account", user_path(u)
