%h2 Edit My Account

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  %fieldset.wider-labels
    .field
      = f.label :current_password, "Current Password (required)"
      = f.password_field :current_password, :size => 15
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password, "New Password"
      = f.password_field :password, :size => 15
      %br
      %span.smalltext.aligned-with-input leave blank if you do not want to change it
    .field
      = f.label :password_confirmation, "Confirm New Password"
      = f.password_field :password_confirmation, :size => 15
  %p= f.submit "Update"

= link_to "Cancel", :back
