%h2 Register for the #{CONGRESS_YEAR} US Go Congress!

%p.vertical-form-instructions
  %strong Registering more than one person?
  %br/
  No problem, one user can register multiple people.
  No need to create user accounts for each of your kids!

%p.vertical-form-instructions
  %strong How much does it cost?
  %br/
  Well, that depends on many things, like your
  = link_to "room and board", plans_path
  choices, for example.
  To register, however, you only need to pay an initial 
  deposit for each attendee.

%p.vertical-form-instructions
  %strong I already registered!
  %br/
  In that case, please
  = link_to "sign in", new_user_session_path
  to see your account.

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %legend User Account
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password, 'Password'
      = f.password_field :password, :size => 10
    .field
      = f.label :password_confirmation, 'Confirm Password'
      = f.password_field :password_confirmation, :size => 10

  - resource.primary_attendee ||= Attendee.new
  = f.fields_for :primary_attendee do |attendee_fields|
    = render :partial => "attendees/personal_info", :locals => { :f => attendee_fields }
    = render :partial => "attendees/player_info", :locals => { :f => attendee_fields }
    = render :partial => "attendees/contact_info", :locals => { :f => attendee_fields, :show_email_field => false }

  %fieldset
    .field
      = label '', ''
      = f.submit "Sign me up!"
