<h1>Register for the <%= CONGRESS_YEAR %> US Go Congress!</h1>

<p class="vertical-form-instructions">
	<strong>Registering more than one person?</strong><br />
	No problem, one user can register multiple people.  
	No need to create user accounts for each of your kids!
</p>

<p class="vertical-form-instructions">
	<strong>How much does it cost?</strong><br />
	Well, that depends on many things, like your <a href="#">room and board</a> choices, for example.  
	To register, however, you only need to pay an initial deposit (<em>lisa, how much?</em>).
</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>User Account</legend>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
      
    <div class="field">
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, :size => 10 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation, :size => 10 %>
    </div>
  </fieldset>
  
  <% resource.primary_attendee ||= Attendee.new %>
  <%= f.fields_for :primary_attendee do |attendee_fields| %>

    <fieldset>
      <legend>Personal Information</legend>
      <div class="field">
        <%= attendee_fields.label :given_name, 'Given (First) Name' %>
        <%= attendee_fields.text_field :given_name %>
      </div>

      <div class="field">
        <%= attendee_fields.label :family_name, 'Family (Last) Name' %>
        <%= attendee_fields.text_field :family_name %>
      </div>

      <div class="field">
        <%= attendee_fields.label :gender, 'Gender' %>
        <%= attendee_fields.radio_button :gender, 'male' %>&nbsp;Male
        &nbsp;&nbsp;
        <%= attendee_fields.radio_button :gender, 'female' %>&nbsp;Female
      </div>

      <div class="field">
        <%= attendee_fields.label :anonymous, "Anonymous" %>
        <%= attendee_fields.check_box :anonymous %> 
        <span class="smalltext">Don't show my name on the "Who's Coming" list</span>
      </div>

      <div class="field">
        <%= attendee_fields.label :birth_date, 'Birth date' %>
        <%= attendee_fields.text_field :birth_date %>
      </div>

      <div class="field">
        <%= attendee_fields.label :understand_minor, 'As a minor, I must submit the form etc.' %>
        <%= attendee_fields.check_box :understand_minor %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Player Information</legend>
      <div class="field">
        <%= attendee_fields.label :rank, 'Rank' %>
        <%= attendee_fields.select :rank, Attendee::RANKS, :include_blank => 'Select Rank' %>
        <br />
        <span class="smalltext aligned-with-input">
        	<a href="#">What is my rank?</a>
        </span>
      </div>

      <div class="field">
        <%= attendee_fields.label :aga_id, 'AGA ID' %>
        <%= attendee_fields.text_field :aga_id %>
        <br />
        <span class="smalltext aligned-with-input">
        	<a href="#">What is an AGA ID?</a>
        </span>
      </div>
    </fieldset>

    <fieldset>
      <legend>Mailing Address</legend>
      <div class="field">
        <%= attendee_fields.label :address_1, 'Address Line 1' %>
        <%= attendee_fields.text_field :address_1 %>
      </div>

      <div class="field">
        <%= attendee_fields.label :address_2, 'Address Line 2' %>
        <%= attendee_fields.text_field :address_2 %>
      </div>

      <div class="field">
        <%= attendee_fields.label :city, 'City' %>
        <%= attendee_fields.text_field :city %>
      </div>

      <div class="field">
        <%= attendee_fields.label :state, 'State/Province' %>
        <%= attendee_fields.text_field :state %>
      </div>

      <div class="field">
        <%= attendee_fields.label :zip, 'Zip/Postal Code' %>
        <%= attendee_fields.text_field :zip %>
      </div>

      <div class="field">
        <%= attendee_fields.label :country, 'Country' %>
        <%= attendee_fields.text_field :country %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Contact Information</legend>
      <div class="field">
        <%= attendee_fields.label :phone, 'Phone' %>
        <%= attendee_fields.text_field :phone %>
      </div>

      <div class="field">
        <%= attendee_fields.label :email, 'Email' %>
        <%= attendee_fields.text_field :email %>
      </div>
    </fieldset>

  <% end %>

	<fieldset>
		<div class="field">
			<%= label '', '' %>
			<%= f.submit "Sign me up!" %>
		</div>
	</fieldset>
	
<% end %>

<%-# render :partial => "devise/shared/links" %>
