%h2 Register for the #{CONGRESS_YEAR} US Go Congress!

%p.vertical-form-instructions
  %strong I already registered!
  %br/
  In that case, please
  = link_to "sign in", new_user_session_path
  to see your account.

%p.vertical-form-instructions
  %strong Registering more than one person?
  %br/
  No problem, one user can register multiple people.
  No need to create user accounts for each of your kids!

%p.vertical-form-instructions
  %strong How much does it cost?
  %br/
  Well, that depends on many things, like your
  = link_to "room and board", plans_path
  choices, for example.
  To register, however, you only need to pay an initial 
  deposit of $75 per attendee.

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %legend User Account
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password, 'Password'
      = f.password_field :password, :size => 10
    .field
      = f.label :password_confirmation, 'Confirm Password'
      = f.password_field :password_confirmation, :size => 10

  - resource.primary_attendee ||= Attendee.new
  = f.fields_for :primary_attendee do |attendee_fields|
    %fieldset
      %legend Personal Information
      .field
        = attendee_fields.label :given_name, 'Given (First) Name'
        = attendee_fields.text_field :given_name
      .field
        = attendee_fields.label :family_name, 'Family (Last) Name'
        = attendee_fields.text_field :family_name
      .field
        = attendee_fields.label :gender, 'Gender'
        = attendee_fields.radio_button :gender, 'm'
        \&nbsp;Male
        \&nbsp;&nbsp;
        \#{attendee_fields.radio_button :gender, 'f'}&nbsp;Female
      .field
        = attendee_fields.label :anonymous, "Anonymous"
        = attendee_fields.check_box :anonymous
        %span.smalltext Do not show my name on the "Who&#39;s Coming" list
      .field
        = attendee_fields.label :birth_date, 'Birth date'
        = attendee_fields.date_select :birth_date, :add_month_numbers => true, :start_year => Time.now.year, :end_year => 120.years.ago.year, :order => [:month, :day, :year], :include_blank => false
      .field
        = attendee_fields.label :understand_minor, 'Minor Agreement'
        = attendee_fields.check_box :understand_minor
        %div.smalltext.aligned-with-input
          I understand that if this attendee will not be at least 18 years of age as of July 29, 2011, I must submit the
          %a{:href => "/docs/USGC2011-Liability-Release-Form.doc"} Minor Agreement Form
          to the 
          = link_to 'deputy registrar', contact_path, :target => '_blank'
      .field
        = attendee_fields.label :tshirt_size
        = attendee_fields.select :tshirt_size, Attendee::TSHIRT_CHOICES, :include_blank => ''
    %fieldset
      %legend Player Information
      .field
        = attendee_fields.label :rank, 'Rank'
        = attendee_fields.select :rank, Attendee::RANKS, :include_blank => 'Select Rank'
        %br/
        %span.smalltext.aligned-with-input
          = link_to 'What is rank?', popup_path('rank'), :target => '_blank'
          = link_to 'What is my AGA rank?', 'http://usgo.org/ratings/RatingsQuery.php', :target => '_blank'
      .field
        = attendee_fields.label :aga_id, 'AGA ID'
        = attendee_fields.text_field :aga_id
        %br/
        %span.smalltext.aligned-with-input
          If you do not have an
          = link_to 'AGA ID', popup_path('aga_id'), :target => '_blank'
          you may leave this blank

    = render :partial => "attendees/contact_info", :locals => { :f => attendee_fields, :show_email_field => false }

  %fieldset
    .field
      = label '', ''
      = f.submit "Sign me up!"

- ## render :partial => "devise/shared/links"
