= form_for @shirt_color do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @shirt_color }

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :hex_triplet
    = f.text_field :hex_triplet, :size => 6

  .field
    %label
    = f.submit 'Save'
