= radio_button_tag :planlessness, :planful, true
%label{:for => 'planlessness_planful'}
  Attendees that are active.
  - if @planful_attendee_count.present?
    (#{@planful_attendee_count})
%br

= radio_button_tag :planlessness, :planless
%label{:for => 'planlessness_planless'}
  Attendees that are cancelled or have not selected any plans.
  - if @planless_attendee_count.present?
    (#{@planless_attendee_count})
%br

= radio_button_tag :planlessness, :all
%label{:for => 'planlessness_all'} All attendees.
%br
