%h2= page_title

- umnh = User.model_name.human
- amnh = Attendee.model_name.human
- csv_path = rpt_attendee_report_path + '.csv'

%p
  There are
  = link_to pluralize(@user_count, umnh.downcase), users_path
  and
  = pluralize(@attendees.count, amnh.downcase) + ' (' + pluralize(@cancelled_attendee_count, 'cancellation') + ').'

%h3 Export to CSV
= form_tag(csv_path, :method => :get) do
  %p= render "select_planlessness"
  %p= submit_tag "Export"
