%h2 So, you like statistics?

%h3 What are the people like?

%p
  There are #{ @attendees.size } people registered, including
  #{@kyu_count} kyu-level players, #{@dan_count} dan-level
  players, #{pluralize(@pro_count, 'pro')}, and
  #{pluralize(@np_count, 'person')} with no rating.

  - if @avg_congresses.present?
    The average person has been to #{@avg_congresses} congresses.

  - if (@youngest_attendee.present? and @oldest_attendee.present?)
    The youngest attendee is
    = distance_of_time_in_words @youngest_attendee.birth_date.to_date, Time.now.to_date
    old and the oldest is
    = distance_of_time_in_words @oldest_attendee.birth_date.to_date, Time.now.to_date
    old.

  - if @avg_age.present?
    The average age is #{@avg_age}.

  There are #{@male_count} men and #{@female_count} women.

- unless @evt_stats.empty?
  %h3 How many people are going to each event?
  %table.semantic
    %thead
      %tr
        %th Event
        %th People*
    %tbody
      - @evt_stats.each do |event_name,num|
        %tr
          %td= event_name
          %td= num
  %span.smalltext
    * Some events might have other ways of registering, not
    through this website.