%h1 Pre-registrants

%p This list is only for admins.  It does not respect anonymity, and it shows email addresses.
%p
  %strong Hint for mac users:
  If you want to copy a table from a website, hold down the command key and drag across the table.
  This is especially useful for pasting into a spreadsheet.

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th
      %th Given Name
      %th Family Name
      %th Email Address
      %th Rank
      %th Country
      %th Date
  %tbody
    - @preregistrants.each_with_index do |p,i|
      %tr
        %td= i + 1
        %td= p.firstname
        %td= p.lastname
        %td= p.email
        %td= p.get_rank_name
        %td= p.country
        %td= p.preregdate.to_date.to_formatted_s(:rfc822)
