= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .field
      = f.label :jobname
      = f.text_field :jobname
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :total_needed
      = f.text_field :total_needed
    .field
      = f.label :vacancies
      = f.text_field :vacancies
    .field
      = f.label :description
      = f.text_field :description

  .actions
    = f.submit