= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .field
      = f.label :jobname
      = f.text_field :jobname
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :total_needed
      = f.text_field :total_needed
    .field
      = f.label :vacancies
      = f.text_field :vacancies

    .field
      %label{ :for => 'job_description'}
        Description
        %br
        %span.smalltext
          You can format the text (bold, etc.) with 
          %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown 
          syntax.
      = f.text_area :description, :class => 'wide'

  .field
    %label
    = f.submit