%h2 Volunteer Opportunities
%p
  If you are interested in taking one of these positions, please
  contact Andrew Jackson or Lisa Scott for further information.
  Positions which have already been filled are listed on the
  = succeed "." do
    = link_to "contact us page", contact_path
%h3 Volunteer Positions
%table.semantic.zebra
  %thead
    %tr
      %th Position
      %th People Needed (Total)
      %th Available
      %th Description
      - if current_user_is_admin?
        %th{:colspan => "2"}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.jobname
        %td= job.total_needed
        %td= job.vacancies
        %td= Markdown.new( job.description ).to_html.html_safe
        - if current_user_is_admin?
          %td= link_to 'Edit', edit_job_path(job)
          %td= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete

%br/

- if current_user_is_admin?
  = link_to 'Create a new volunteer position', new_job_path
