%h2 Volunteer Opportunities

- if can? :create, Job
  .flow-padding= button_to 'Create a new volunteer position', new_job_path, :method => "get"

%p
  If you are interested in taking one of these positions, please
  contact the directors for further information.
  Positions which have already been filled are listed on the
  = succeed "." do
    = link_to "contact us page", contact_path
%h3 Volunteer Positions
%table.semantic.zebra
  %thead
    %tr
      %th= trl_attr 'job', 'jobname'
      %th People Needed (Total)
      %th Available
      %th Description
      - if current_user_is_admin?
        %th{:colspan => "2"}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.jobname
        %td= job.total_needed
        %td= job.vacancies
        %td= Markdown.new( job.description ).to_html.html_safe
        - if current_user_is_admin?
          %td= link_to 'Edit', edit_job_path(job)
          %td= link_to 'Delete', job, :data => {:confirm => 'Are you sure?'}, :method => :delete
