%h2 #{@round.tournament.name}, Round #{@round.number}
%time{datetime: @round.start_time} #{@round.start_time.strftime('%B %e, %Y at %l:%M %p')}

- if current_user && current_user.admin?
  = form_for @round, url: { action: "update_notification_message" } do |f|
    %fieldset

      .field
        = f.label :notification_message
        = f.text_area :notification_message, :class => 'wide', :rows => 1


      = f.submit "Add notification message", :class => 'button button-large save'

  = button_to "Send SMS Notifications for all round games & byes", send_sms_notifications_round_path(@round), :class => 'button button-large'
%br
%h2 Games
%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th= GameAppointment.human_attribute_name(:table)
      %th= GameAppointment.human_attribute_name(:white_player)
      %th= GameAppointment.human_attribute_name(:black_player)
      %th= GameAppointment.human_attribute_name(:handicap)
      %th= GameAppointment.human_attribute_name(:result)
      %th= GameAppointment.human_attribute_name(:location)
  %tbody
    - @round.game_appointments.each do |game_appointment|
      %tr{id: "game_appointment_#{game_appointment.id}"}
        %td= link_to game_appointment.table, edit_game_appointment_path(game_appointment)
        %td{:class => game_appointment.attendee_one.receive_sms ? "sms_enabled" : "sms_disabled" }
          = game_appointment.white_player.full_name
        %td{:class => game_appointment.attendee_two.receive_sms ? "sms_enabled" : "sms_disabled" }
          = game_appointment.black_player.full_name
        %td= game_appointment.handicap
        %td= game_appointment.result
        %td= game_appointment.location

%br
- if current_user && current_user.admin?
  = button_to "Delete All", delete_all_game_appointments_round_path(@round),
    :method => :post,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? This will delete ALL appointments in this round.')) }

  = form_for @import, url: import_round_path, multipart: true do |f|
    %fieldset
      %h2 Import Round
      .field
        = f.hidden_field :round, name: "round_import[round_id]", value: "#{@round.id}"
      .field
        = f.file_field :file
        = f.submit "Upload"
%h2 Bye Players:
%ul
  - @round.bye_appointments.each do |bye|
    %li #{bye.attendee.full_name}, aga id: #{bye.attendee.aga_id}
