- mnh = Transaction.model_name.human
- csv_path = rpt_transaction_report_path + '.csv'

%h2= page_title

%table.semantic
  %thead
    %tr
      %th= mnh + " Type"
      %th.numeric #
      %th.numeric $
  %tbody
    %tr
      %td Sales
      %td.numeric= @sales.count
      %td.numeric= cents_to_currency(@sales_sum, :unit => '')

    -# Display refunds and comps as negative numbers.
    %tr
      %td Refunds
      %td.numeric= @refunds.count
      %td.numeric= cents_to_currency(@refunds_sum * -1, :unit => '', :negative_format => "(%n)")
    %tr
      %td Net Income
      %td
      %td.numeric= cents_to_currency(@net_income, :unit => '')
    %tr
      %td Comps
      %td.numeric= @comps.count
      %td.numeric= cents_to_currency(@comps_sum * -1, :unit => '', :negative_format => "(%n)")

%p= button_to "Export #{mnh.pluralize} To CSV", csv_path, :method => "get"
