%h2 Register for the #{@year.year} U.S. Go Congress!

- if @year.registration_phase == "closed"
  %p
    Registration for the #{@year.year} Go Congress will open soon! We are finalizing
    the prices and other information and then we'll be ready to accept your
    registration. Thanks for your interest.

- elsif @year.registration_phase == "complete"
  %p
    Registration for the #{@year.year} Go Congress is complete.
    Thanks for coming!

- elseif @year.registration_phase == "canceled"
  %p
    The #{@year.year} Go Congress has been canceled.

- else
  .vertical-form-instructions

    - events = events_beside_congress
    - unless events.empty?
      - event_list = join_english_list events
      %p
        %strong= event_list
        %br
        In addition to the U.S. Go Congress, you may also register
        for the #{event_list}.

    %p
      %strong Registering more than one person?
      %br/
      If you already have an account, you can add more people to it.
      You do not need to create extra accounts for everyone.

    %p
      %strong I already registered!
      %br/
      In that case, please
      = link_to "sign in.", new_user_session_path

  = form_for(resource, :as => resource_name, :url => user_registration_path) do |f|

    -# For new registrations, we need to set the user's year before
    -# validation, but because we are using Devise
    -# RegistrationsController we can't exactly add a before_filter.
    -# If we do not specify a year before validation, then
    -# validations like the uniqueness check on email will use a
    -# null year, thus making the validation pointless.
    = hidden_field_tag "user[year]", @year.year

    = render :partial => "shared/error_messages", :locals => { :resource => resource }

    %fieldset
      .field
        = f.label :email
        = f.text_field :email, :tabindex => 1
      .field
        = f.label :password, 'Choose a Password'
        = f.password_field :password, :size => 10, :tabindex => 2
      .field
        = f.label :password_confirmation, 'Confirm Password'
        = f.password_field :password_confirmation, :size => 10, :tabindex => 3
      .field
        = label '', ''
        = f.submit "Continue", :tabindex => 4
