= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %h3 Role
  %ul.radio
    - User::ROLES.each do |r|
      %li
        %label
          = radio_button :user, :role, r[1]
          = r[0]
          = "- can edit anything" if r[1] == 'A'
          = "- can view anything" if r[1] == 'S'

  %br

  .actions
    = f.submit
