= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %h3 Role
  %p Admins can edit anything, staff can view anything.
  .field
    - User::ROLES.each do |r|
      = radio_button :user, :role, r[1]
      = r[0]
      %br

  %h3 Volunteer Positions
  .field
    - @jobs.each do |j|
      - cbxid = "job_id_" + j.id.to_s
      - ischecked = j.has_job.to_i > 0
      = check_box_tag "user[job_ids][]", j.id, ischecked, :id => cbxid
      = label_tag cbxid, j.jobname, :class => 'wide'
      %br

  %br

  .actions
    = f.submit
