<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h3>Basic Information</h3>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, :size => 10 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation, :size => 10 %>
  </div>
  
  <div class="field">
    <%= f.label :is_admin %>
    <%= f.check_box :is_admin %>
  </div>
  
  <h3>Volunteer Positions</h3>

	<div class="field">
	<% @jobs.each do |j| -%>
		<% cbxid = "job_id_" + j.id.to_s %>
		<% ischecked = j.has_job.to_i > 0 %>
		<%= check_box_tag "user[job_ids][]", j.id, ischecked, :id => cbxid -%>
		<%= label_tag cbxid, j.jobname -%>
		<br />
	<% end -%>
	</div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
