%h2 Choose an Attendee
- amnhd = Attendee.model_name.human.downcase

%p
  Which #{amnhd} would you like to
  - if @destination_page == 'events'
    edit travel plans for?
  - else
    #{@destination_page_description}?

%p{:style=>"padding-left:20px;"}
  - @user.attendees.each do |a|
    = link_to a.full_name, edit_attendee_path(a, @destination_page)
    %br

%p
  You can also
  - if @destination_page == 'events'
    edit travel plans
  - else
    #{@destination_page_description}
  from the
  = link_to "My Account", user_path(@user)
  page.
