<h1>Editing user</h1>

<%= render 'form' %>

<h3>Jobs</h3>

<% @jobs.each do |j| -%>
	<% cbxid = "job_id_" + j.id.to_s %>
	<% ischecked = j.has_job > 0 %>
	<%= check_box_tag "myjobidlist", j.id, ischecked, :id => cbxid -%>
	<%= label_tag cbxid, j.jobname -%>
	<br />
<% end -%>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
