%h2 All Users

%p
  Each
  %strong user
  has a unique email address.  Each user can have multiple
  = link_to "attendees.", :attendees
%p
  %strong Admins
  can do anything.
  %strong Staff
  can see anything.
  Do not promote too many of either.

- if can? :create, User
  .row-of-buttons
    = button_to 'New User', new_user_path, :method => 'get'

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th= link_to "Role", :sort => :role
      %th= link_to "Email", :sort => :email, :drn => params[:drn] == "asc" ? :desc : :asc
      %th Attendees
      %th # Attendees
      - [:created_at, :current_sign_in_at].each do |a|
        %th
          - drn = (params[:sort] == a.to_s && params[:drn] == "asc") ? :desc : :asc
          = link_to trl_attr("user", a), :sort => a, :drn => drn
      %th{:colspan => "2"}
  %tbody
    - @users.each do |user|
      %tr
        %td{ :class => role_emphasis_class(user) }= user.role_name
        %td
          .hardwrap{:style => "max-width:200px;"}= link_to user.email, print_cost_summary_for_user_path(user)
        %td
          - attendees = user.attendees.sort { |a,b| a.created_at <=> b.created_at }
          - attendees.each_with_index do |atn, ix|
            - a = atn.full_name
            - a += ' (' + atn.alternate_name + ')' if atn.alternate_name.present?
            - a += ' (Cancelled)' if atn.cancelled?
            = link_to a, print_summary_for_attendee_path(atn)
            = "*" if ix == 0 && attendees.length > 1
            %br
        %td
          -# `count` would exec. a query, `length` doesn't because of `includes`
          = user.attendees.length
        %td= user.created_at.to_date.to_formatted_s(:rfc822)
        %td
          - if user.current_sign_in_at.present?
            = user.current_sign_in_at.to_date.to_formatted_s(:rfc822)
        %td= link_to 'Account', user

%p
  * First attendee to be created
