%h2 All Users

%p
  Each
  %strong user
  has a unique email address.  Each user can have multiple
  = link_to "attendees.", :attendees
%p
  %strong Admins
  can do anything.
  %strong Staff
  can see anything.
  Do not promote too many of either.

.row-of-buttons
  = button_to 'New User', new_user_path, :method => 'get'

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th= link_to "Role", :sort => :role
      %th Email
      %th Attendees
      %th # Attendees
      - [:created_at, :last_sign_in_at].each do |a|
        %th
          - drn = (params[:sort] == a.to_s && params[:drn] == "asc") ? :desc : :asc
          = link_to trl_attr("user", a), :sort => a, :drn => drn
      %th{:colspan => "2"}
  %tbody
    - @users.each do |user|
      %tr
        %td{ :class => role_emphasis_class(user) }= user.role_name
        %td
          .hardwrap{:style => "max-width:200px;"}= user.email
        %td
          - user.attendees.each do |atn|
            = atn.full_name
            = "*" if atn.is_primary
            %br
        %td= user.attendees.count
        %td= user.created_at.to_date.to_formatted_s(:rfc822)
        %td
          - if user.last_sign_in_at.present?
            = user.last_sign_in_at.to_date.to_formatted_s(:rfc822)
        %td= link_to 'Account', user
        %td
          = link_to 'Delete', user, :data => {:confirm => 'Are you sure?'}, :method => :delete

%p * primary attendee
