%h2 Cost Summary
%p
  Questions? Please contact the
  = link_to 'registrar.', contacts_path

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th Attendee
      %th Item
      %th.numeric Price
      %th.numeric Quantity
      %th.numeric Total
  %tbody
    - for i in @invoice_items
      %tr
        %td= i.attendee_full_name
        %td= i.description
        %td.numeric= cents_to_currency i.price
        %td.numeric= i.qty
        %td.numeric= cents_to_currency( i.price * i.qty )
    %tr.total
      %th{ :colspan => 4 } Grand Total
      %td.numeric= cents_to_currency @user.get_invoice_total

.row-of-buttons
  - if can? :manage, @user
    = button_to "Return to Account", user_path(@user), :method => :get
  - if current_user.admin?
    - pcsfu_path = print_cost_summary_for_user_path(@user)
    = button_to 'Print Cost Summary', pcsfu_path, :method => :get
