%h1= @page_title

%p Updated every few days, please be patient.

- if @user.transactions.size == 0
  %p No transactions found.
- else
  %table.semantic.fullwidth
    %thead
      %tr
        %th Date
        %th.numeric Transaction ID
        %th.numeric Amount
    %tbody
      - for t in @user.transactions.order('gwdate asc')
        %tr
          %td= t.gwdate.to_formatted_s(:long)
          %td.numeric= t.gwtranid
          %td.numeric= number_to_currency t.amount, :unit => ''
      %tr.total
        %td
        %th Total
        %td.numeric= number_to_currency @user.amount_paid, :unit => ''

- if current_user.is_admin?
  %p= link_to "Return to #{@user.primary_attendee.full_name_possessive} Account", user_path(@user)
