.left-column  
  %h1= @page_title
  %table.lightweight
    %tbody
      - if @user.is_admin
        %tr
          %th Type
          %td Administrator
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Created
        %td= @user.created_at.to_formatted_s(:long)
  %p= link_to 'Edit my account', edit_user_path(@user)

.right-column
  %h2.first-in-column Balance
  %table.lightweight
    %tbody
      %tr
        %th Total cost
        %td.numeric= number_to_currency @user.get_invoice_total
        %td.smalltext= link_to "Cost Summary", invoice_user_path(@user)
      %tr
        %th Amount paid
        %td.numeric= number_to_currency @user.amount_paid
        %td.smalltext= link_to "Payment History", ledger_user_path(@user)
      %tr
        %th Balance
        %td.numeric= number_to_currency @user.balance
  %p
    Your initial deposit is due
    =@user.get_initial_deposit_due_date.to_formatted_s(:long)

  = button_to "Make a Payment", pay_user_path(@user), :method => "get", :class => 'button-emphasis'

%br/

%h2 My Attendees

%p 
  You may add multiple
  %strong attendees
  on one
  %strong user account.
  Bring the whole family! 
  
%table.semantic.fullwidth
  %thead
    %tr
      %th Name
      %th Rank
      %th Email
      %th Minor?
      %th{:colspan => 3} Please complete all three forms
      %th
  %tbody
    - for a in @attendees
      %tr
        %td= a.get_full_name
        %td= a.get_rank_name
        %td= a.email
        %td= a.is_minor ? "Yes" : "No"
        %td= link_to 'Basic Info', edit_attendee_path(a) + '/basics'
        %td= link_to 'Go Info', edit_attendee_path(a) + '/baduk'
        %td= link_to 'Room and Board', edit_attendee_path(a) + '/roomboard'
        %td
          - if a.is_primary
            Primary<br>Attendee
          - else 
            =link_to 'Delete', a, :confirm => "Are you sure you want to delete this attendee?", :method => :delete

-# Currently, it is only possible to create an attendee for yourself.
-# An admin can not create an attendee for someone else.
-# So, we hide the link for now. -Jared 2011.1.14
- if @showing_current_user
  %p= link_to 'Register another attendee', new_attendee_path

%br

-if @has_minor_attendee
  %h3 Regarding Minors
  %p
    At least one of the attendees on this account is a minor.
    Do not forget to send the
    %a{:href => "/docs/USGC2011-Liability-Release-Form.doc"} Minor Agreement Form
    to the 
    = link_to 'Deputy Registrar', contact_path, :target => '_blank'

%h3 Do I need an AGA membership?
%p
  Attendees who wish to play
  or participate in Go-related activities must have a
  = link_to "current AGA membership", "https://www.usgo.org/cgi-bin/application.cgi"
  or a membership in a national organization with which the AGA has a 
  reciprocal agreement.  Please email the 
  = link_to 'registrar', contact_path
  if you have any questions.
