%h1 My Account

%table.lightweight
  %tbody
    - if @user.is_admin
      %tr
        %th Type
        %td Administrator
    %tr
      %th Email
      %td= @user.email
    %tr
      %th Created
      %td= @user.created_at.to_formatted_s(:long)

%p= link_to 'Edit my account', edit_user_path(@user)

%br/

%h2 My Attendees

%p 
  You may add multiple
  %strong attendees
  on one
  %strong user account.
  Bring the whole family! Please note that attendees who wish to play
  or participate in Go-related activities must have a
  = link_to "current AGA membership.", "https://www.usgo.org/cgi-bin/application.cgi"
  
%table.semantic.fullwidth
  %thead
    %tr
      %th Name
      %th Rank
      %th Email
      %th Minor?
      %th Minor<br>Agreement<br>Received
      %th 
      %th 
      %th 
      %th 
  %tbody
    - for a in @attendees
      %tr
        %td= a.get_full_name
        %td= a.get_rank_name
        %td= a.email
        %td= a.is_minor ? "Yes" : "No"
        %td= if a.is_minor then a.minor_agreement_received ? "Yes" : "No" else "N/A" end
        %td= if a.is_primary then "Primary<br>Attendee".html_safe end
        %td= link_to 'Basic Info', edit_attendee_path(a) + '/basics'
        %td= link_to 'Go Info', edit_attendee_path(a) + '/baduk'
        %td= link_to 'Room and Board', edit_attendee_path(a) + '/roomboard'

%p= link_to 'Register another attendee', new_attendee_path
