%h1 My Account

%table.lightweight
  %tbody
    - if @user.is_admin
      %tr
        %th Type
        %td Administrator
    %tr
      %th Email
      %td= @user.email
    %tr
      %th Created
      %td= @user.created_at.to_formatted_s(:long)

%p= link_to 'Edit my account', edit_user_path(@user)

%br/

%h2 My Attendees

%p 
  You may add multiple
  %strong attendees
  on one
  %strong user account.
  Bring the whole family!
  
%table.semantic.fullwidth
  %thead
    %tr
      %th Name
      %th Rank
      %th Email
      %th Minor?
      %th Minor Agreement Received
      %th 
      %th 
  %tbody
    - for a in @attendees
      %tr
        %td= a.get_full_name
        %td= a.get_rank_name
        %td= a.email
        %td= a.is_minor ? "Yes" : "No"
        %td= if a.is_minor then a.minor_agreement_received ? "Yes" : "No" else "N/A" end
        %td= if a.is_primary then "Primary Attendee" end
        %td= link_to 'Edit', edit_attendee_path(a)

%p= link_to 'Register another attendee', new_attendee_path
