.left-column  
  %h2= @page_title
  %table.lightweight
    %tbody
      - if @user.is_admin
        %tr
          %th Type
          %td Administrator
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Created
        %td= @user.created_at.to_formatted_s(:long)
  %p
    = link_to 'Change Email', edit_email_for_user_path(@user)
    %br
    = link_to 'Change Password', edit_password_for_user_path(@user)
    %br
    - if current_user.is_admin?
      = link_to 'User Administration', edit_user_path(@user)

.right-column
  %h2 Balance
  %table.lightweight
    %tbody
      %tr
        %th Total cost
        %td.numeric= number_to_currency @user.get_invoice_total
        %td.smalltext= link_to "Cost Summary", invoice_user_path(@user)
      %tr
        %th Amount paid
        %td.numeric= number_to_currency @user.amount_paid
        %td.smalltext= link_to "Payment History", ledger_user_path(@user)
      %tr
        %th Balance
        %td.numeric= number_to_currency @user.balance
  
  %p= button_to "Make a Payment", pay_user_path(@user), :method => "get", :class => 'button-emphasis'

  %p
    - if @is_deposit_paid
      - if @user.attendees.count == 1
        We have received your initial deposit.  Thank you.
      - else
        We have received the initial deposit for all of your attendees.  Thank you.
    - elsif !@is_past_deposit_due_date
      Your initial deposit is due 
      = @user.get_initial_deposit_due_date.to_formatted_s(:long)

%br/

- if (!@is_deposit_paid && @is_past_deposit_due_date)
  %p.notice
    %strong Your initial deposit is overdue.
    %br
    We have not received the initial deposit for all attendees. Please make
    an initial payment of $75 per attendee. Thank you. 
    %br
    If you have any questions, please contact the
    = link_to "registrar.", contact_path

%h2 My Attendees
%p= link_to 'Register another attendee', add_attendee_to_user_path  
%table.semantic.fullwidth
  %thead
    %tr
      %th Name
      %th Rank
      %th Age *
      %th Confirmed **
      %th
  %tbody
    - for a in @attendees
      %tr
        %td.attendee_name_column
          %a{:href=>'#', :class=>"expand_attendee", :id=>"expand_attendee_#{a.id}" }= a.get_full_name
          %ul.initially_hidden{:id=>"attendee_drawer_#{a.id}"}
            %li= link_to 'Basics', edit_attendee_path(a) + '/basics'
            %li= link_to 'Player Info', edit_attendee_path(a) + '/baduk'
            %li= link_to 'Room and Board', edit_attendee_path(a) + '/roomboard'
            - if current_user.is_admin?
              %li= link_to 'Admin', edit_attendee_path(a) + '/admin'
        %td= a.get_rank_name
        %td= a.age_in_years.floor
        %td= a.confirmed.present? ? "Yes" : "No"
        %td
          - if a.is_primary
            Primary&nbsp;Attendee
          - else 
            =link_to 'Delete', a, :confirm => "Are you sure you want to delete this attendee?", :method => :delete

%p
  * Age on #{CONGRESS_START_DATE.to_date.to_formatted_s(:long)}
  %br
  ** Initial deposit received, all forms filled out, association membership verified, etc.

-if @has_minor_attendee
  %h3 Regarding Minors
  %p
    At least one of the attendees on this account is a minor.
    Do not forget to send the
    %a{:href => "/docs/USGC2011-Liability-Release-Form.doc"} Minor Agreement Form
    to the 
    = link_to 'Deputy Registrar', contact_path, :target => '_blank'

%h3 Do I need an AGA membership?
%p
  Attendees who wish to play
  or participate in Go-related activities must have a
  = link_to "current AGA membership", "https://www.usgo.org/cgi-bin/application.cgi"
  or a membership in a national organization with which the AGA has a 
  reciprocal agreement.  Please email the 
  = link_to 'registrar', contact_path
  if you have any questions.
