%fieldset
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :local_phone
    = f.text_field :local_phone
    %span.smalltext (phone number during the U.S. Go Congress)
  .field
    = f.label :email
    = f.text_field :email

  -# ISO 3166-1 alpha-2
  .field
    = f.label :country
    = f.select :country, COUNTRIES, { :include_blank => true }
