%fieldset
  .field
    = f.label :phone, "Home Phone"
    = f.telephone_field :phone, value: f.object.phone, data: { intl_phone: "true"}
  .field
    = f.label :receive_sms, 'Text Notifications'
    %div
      %label
        = f.radio_button :receive_sms, true, checked: (params[:receive_sms] == nil ? true : params[:receive_sms])
        Send Me Text Message Notifications &nbsp;&nbsp;
      %label
        = f.radio_button :receive_sms, false
        Don't Send Me Any Text Messages
  .field
    = f.label :local_phone, "Phone at Congress"
    = f.telephone_field :local_phone, value: f.object.local_phone, data: { intl_phone: "true"}
    %span.smalltext (This is the number for receiving text messages during the US Go Congress. Message and data rates may apply.)
  .field
    = f.label :email
    = f.email_field :email

  -# ISO 3166-1 alpha-2
  .field
    = f.label :country
    = f.select :country, COUNTRIES, { :include_blank => true }
