%fieldset
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :receive_sms, 'Text Notifications'
    %div
      %label
        = f.radio_button :receive_sms, true, checked: (params[:receive_sms] == nil ? true : params[:receive_sms])
        Send Me Text Message Notifications
      %label
        = f.radio_button :receive_sms, false
        Don't Send Me Any Text Messages
  .field
    = f.label :local_phone
    = f.text_field :local_phone
    %span.smalltext (Required to receive notifications during the Congress. Enter 10 digits with no spaces or dashes.)
  .field
    = f.label :email
    = f.text_field :email

  -# ISO 3166-1 alpha-2
  .field
    = f.label :country
    = f.select :country, COUNTRIES, { :include_blank => true }
