%noscript
  .noscript-warning
    %h3 You're <em>really</em> going to want Javascript to fill out this form.

= form_for(@registration) do |f|
  = f.hidden_field :user_id
  = hidden_field_tag 'type', params[:type]

  = render :partial => 'shared/error_messages', :locals => { :resource => @registration }
  = render :partial => "/#{@year.year}/registrations/personal_info", :locals => { :f => f } rescue render :partial => 'personal_info', :locals => { :f => f }
  = render :partial => "/#{@year.year}/registrations/shirt_info", :locals => { :f => f } rescue render :partial => 'shirt_info', :locals => { :f => f }
  = render :partial => "/#{@year.year}/registrations/player_info", :locals => { :f => f } rescue render :partial => 'player_info', :locals => { :f => f }
  = render :partial => 'contact_info', :locals => { :f => f }
  = render :partial => 'emergency_info', :locals => { :f => f }
  = render :partial => 'plans', :locals => { :f => f }
  = render :partial => 'wishes', :locals => { :f => f }
  - unless @year.year == 2016
    = render :partial => 'activities', :locals => { :f => f }

  -# If we show the admin fields, we'll get MassAssignmentSecurity::Error
  -# Can't mass-assign protected attributes: minor_agreement_received, comment
  -# We need to be able to specify the mass-assignment role to cancan,
  -# but that feature is still in the works:
  -# https://github.com/ryanb/cancan/pull/686
  -#
  -# - if current_user.admin?
  -#   = render :partial => 'admin_info', :locals => { :f => f }

  %p= f.submit 'Continue'

= content_for :footnote

:javascript
  $("form").submit(function() {
    $("input").removeAttr("disabled");
  });
