%fieldset
  .field
    %label Name
    = f.text_field :given_name, :placeholder => 'Given Name', :size => 15
    = f.text_field :alternate_name, :placeholder => '(Alternate Name)', :size => 15
    = f.text_field :family_name, :placeholder => 'Family Name', :size => 15
  .field.flex
    %div.field-key
      = f.label :anonymous, "Anonymous"

    %div.field-value
    %label
      = f.check_box :anonymous
      %span.smalltext (Hide name on the "Who&#39;s Coming" list)
  .field
    = f.label :gender, 'Gender'
    %label 
      = f.radio_button :gender, 'm'
      Male
    %label 
      = f.radio_button :gender, 'f'
      Female
    %label 
      = f.radio_button :gender, 'o'
      Other
  .field
    = f.label :birth_date, 'Birth date'
    - if params[:type] == "adult"
      = f.date_select :birth_date, :start_year => @year.year - 18, :end_year => 1900, :include_blank => true
    - else
      = f.date_select :birth_date, :start_year => @year.year, :end_year => @year.year - 18, :include_blank => true
    %span.smalltext (to identify minors)
  - if params[:type] == "youth"
    .field
      = f.label :understand_minor, 'Youth Attendance Agreement<br />(for minors)'.html_safe
      = f.check_box :understand_minor, class: "valign-middle"
      %div#liability-release-instructions.smalltext
        I understand that if this attendee will not be at least 18 years old on
        = @year.start_date.to_formatted_s(:long)
        then I must submit the #{link_to_liability_release} to the
        = link_to 'registrar.', contacts_path, :target => '_blank'
    .field
      = f.label :guardian_full_name, 'Guardian Name<br />(for minors)'.html_safe
      = f.text_field :guardian_full_name
      %span.smalltext Attending adult responsible for minor
