%fieldset
  = render :partial => 'shared/field',
  :locals => { :field => f, :attribute => :aga_id, :required => false }

  = render :layout => 'shared/field',
  :locals => { :field => f, :attribute => :name, :required => true } do
    = f.text_field :given_name, :placeholder => 'Given Name', :size => 15, :required => true
    = f.text_field :alternate_name, :placeholder => '(Alternate Name)', :size => 15
    = f.text_field :family_name, :placeholder => 'Family Name', :size => 15, :required => true


  - if params[:type] != "youth"
    = render :layout => 'shared/field',
    :locals => { :field => f, :attribute => :anonymous } do
      %label
        = f.check_box :anonymous
        %div.field-help-text Hide name on public areas of the website. (Information will still be available to Congress staff.)

  = render :layout => 'shared/field',
  :locals => { :field => f, :attribute => :gender, :required => true} do
    %label
      = f.radio_button :gender, 'm', :required => true
      Male
    %label
      = f.radio_button :gender, 'f', :required => true
      Female
    %label
      = f.radio_button :gender, 'o', :required => true
      Other

  = render :layout => 'shared/field',
  :locals => { :field => f, :attribute => :birth_date, :required => true,
  :help_text => "To identify minors." } do
    - if params[:type] == "adult"
      = f.date_select :birth_date, :start_year => @year.year - 18, :end_year => 1900, :include_blank => true
    - else
      = f.date_select :birth_date, :start_year => @year.year, :end_year => @year.year - 18, :include_blank => true

  - if @year.vaccination_proof_required
    = render :layout => 'shared/field',
    :locals => { :field => f, :attribute => :vaccination_proof, :required => false } do
      .field
        - if !@registration.vaccination_proof.blank?
          = link_to 'Proof of Vaccination', "#{@registration.vaccination_proof}", :target => '_blank'
          %br
        = f.file_field :vaccination_proof, :required => false

        -# Having this hard-coded, especially with a year-specific link, is
        -# pretty rough. Hopefully this feature will be obselete and never
        -# relevant again, but if it's not, we'll need to re-factor to make this
        -# more flexible.
        %div.field-help-text
          I understand that the congress is requiring all attendees age six and
          older to be vaccinated (unless contraindicated).  Proof of vaccination
          must be provided in this form no later than May 26th.  See the
          =link_to 'Covid-19 page', '/2022/content_categories/128'
          for more information.

  - if @year.covid_policy_url.present?
    = render :layout => 'shared/field',
    :locals => { :field => f, :attribute => :agree_to_covid_policy, :required => true } do
      %label
        = f.check_box :agree_to_covid_policy, :required => true
        %div.field-help-text 
          I have read and agree to the
          = link_to 'Covid-19 Policy', @year.covid_policy_url, :target => '_blank'
          for this event, and I
          understand both the health and cancellation risks.


  - if params[:type] == "youth"
    - if @year.in_person?
      = render :layout => 'shared/field',
      :locals => { :field => f, :attribute => :understand_minor, :required => true, } do
        = f.check_box :understand_minor, class: "valign-middle"
        %div#liability-release-instructions.smalltext
          I understand that if this attendee will not be at least 18 years old on
          = @year.start_date.to_formatted_s(:long)
          then I must submit the #{link_to_liability_release} to the
          = link_to 'registrar.', contacts_path, :target => '_blank'

      = render :partial => 'shared/field',
      :locals => { :field => f, :attribute => :guardian_full_name, :required => true,
      :help_text => "Attending adult responsible for minor"}

    - else
      = f.hidden_field(:understand_minor, :value => true)
      = f.hidden_field(:guardian_full_name, :value => 'N/A')
