- mnh = Plan.model_name.human.downcase

%h3= Plan.model_name.human.pluralize

- if @year.to_i == 2013
  :markdown
    **Congress dates are August 3 to 10.** (8-11 is Sunday departure day.)
    08-02 and 08-11 are extra days. For youth rates, Age is age at August
    3. **Non players may not have an AGA rating better than 25K.**  Late
    registration dates are 05-31 ($50), June 30 ($100), July 31 ($150).
    **Payment must be received or postmarked before these dates to lock in
    the lower rates.**

%p
  Mark the checkboxes (#{disabled_checkbox})
  below #{" or enter quantities" if @registration.show_quantity_instructions}.

  Questions? Contact the
  = link_to 'registrar.', contacts_path

- if @registration.plans_by_category.count > 0
  %table.semantic.fullwidth
    %thead
      %tr
        %th
        = render :partial => "plan_categories/plan_table_common_headers"
    %tbody
      - @registration.plans_by_category.each do |cat, plans|
        %tr
          %th{:colspan => 6}= cat.name
        - if cat.show_description?
          %tr
            %td{:colspan => 6}= markdown_if_present(cat.description)
        - plans.each do |plan|
          - if params[:type] == "adult" && plan.age_min >= 18
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }
          - if params[:type] == "youth" && plan.age_max.present? && plan.age_max <= 17
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }
          - if plan.age_min <= 17 && plan.age_max.blank?
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }

= render :partial => "plan_categories/explain_availability"
