%fieldset
  = render :layout => 'shared/field',
  :locals => { :field => f, :attribute => :rank, :required => true } do
    = f.select :rank, Attendee::Rank::RANKS, :include_blank => 'Select Estimated Rank'
    .field-help-text
      = link_to 'What is my AGA rank?', '#', :id => 'open_dialog_rank'

  = hidden_field_tag :aga_id

.dialog#dialog_rank{:title => "What is my AGA Rank?"}
  %p
    If you have played in AGA tournaments, you can look up your rank
    = link_to 'here.', 'http://usgo.org/search-ratings', :target => '_blank'
  %p
    If you are not sure of your AGA rating or
    rank, but know your rating from another system, please consult
    = link_to "Sensei's Library", "http://senseis.xmp.net/?RankWorldwideComparison", :target => '_blank'
    for a rough comparison.
  %p
    Please contact the Registrar at
    = link_to "Registrar@gocongress.org", "mailto:registrar@gocongress.org"
    if you have further questions.

:javascript
  $(function() {
    $( "#open_dialog_aga_id" ).click(function() {
      $( "#dialog_aga_id" ).dialog( "open" );
      return false;
    });

    $( "#open_dialog_rank" ).click(function() {
      $( "#dialog_rank" ).dialog( "open" );
      return false;
    });
  });
