- mnh = Plan.model_name.human.downcase

%h3= Plan.model_name.human.pluralize

- if @year.to_i == 2013
  :markdown
    **Congress dates are August 3 to 10.** (8-11 is Sunday departure day.)
    08-02 and 08-11 are extra days. For youth rates, Age is age at August
    3. **Non players may not have an AGA rating better than 25K.**  Late
    registration dates are 05-31 ($50), June 30 ($100), July 31 ($150).
    **Payment must be received or postmarked before these dates to lock in
    the lower rates.**

%p
  Mark the checkboxes (#{disabled_checkbox})
  below #{" or enter quantities" if @registration.show_quantity_instructions}.

  Questions? Contact the
  = link_to 'registrar.', contacts_path

- if @registration.plans_by_category.count > 0
  - @registration.plans_by_category.each do |cat, plans|
    %table.semantic.fullwidth.buffer-bottom
      %thead
        %tr{ class: 'category-name' }
          %th{:colspan => 6}= cat.name
        - if cat.show_description?
          %tr{ class: 'description' }
            %td{:colspan => 6}= markdown_if_present(cat.description)

          - if cat.extended_description?
            %tr{ class: 'extended-description' }
              %td{:colspan => 6}
                %a{:class => 'extended-description', :href => '#'} More Details &raquo;
                %div{:class => 'extended-description-content', :style => 'display: none;'}
                  = markdown_if_present(cat.extended_description)
        %tr
          %th
            = render :partial => "plan_categories/plan_table_common_headers"
      %tbody
        - if !cat.mandatory and cat.single
          -# Provide "No Selection" option for non-mandatory, single-value plans
          = render :partial => "plan_categories/plan_table_plan_row", :locals => { :category => cat }
        - plans.each do |plan|
          - if params[:type] == "adult" && plan.age_min >= 18
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }
          - if params[:type] == "youth" && plan.age_max.present? && plan.age_max <= 17
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }
          - if plan.age_min <= 17 && plan.age_max.blank?
            = render :partial => "plan_categories/plan_table_plan_row", :locals => { :plan => plan }

:javascript
  // Provide "More details" button for extended descriptions
  $("a.extended-description").click(function(event) {
    event.preventDefault();
    var $target = $(event.target);
    var $extendedDescription = $target.next('.extended-description-content');

    $target.hide();
    $extendedDescription.fadeIn('fast');
  });

= render :partial => "plan_categories/explain_availability"
