= form_for @tournament do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @tournament }

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :openness
    = f.select :openness, Tournament::OPENNESS_TYPES
  .field
    = f.label :eligible
    = f.text_field :eligible
  .field
    = f.label :directors
    = f.text_field :directors
  .field
    %label{ :for => 'tournament_description'}
      Description
      %br
      %span.smalltext
        You can format the text (bold, etc.) with 
        %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown 
        syntax.
    = f.text_area :description, {:class => 'wide', :rows => 4}
  .field
    = f.label :show_attendee_notes_field
    = f.check_box :show_attendee_notes_field
    %span.smalltext.aligned-with-input 
      Allow attendees to provide comments (eg. pair go partner)
      when signing up for tournament

  %h3 Rounds
  .rounds-container
    = f.fields_for :rounds do |builder|
      = render 'round_fields', :f => builder
  %p= link_to_add_fields "Add a Round", f, :rounds

  %br
  .actions
    = f.submit 'Save'
