= form_for @tournament do |f|
  -if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :elligible
    = f.text_field :elligible
  .field
    = f.label :directors
    = f.text_field :directors
  .field
    %label{ :for => 'tournament_description'}
      Description
      %br
      %span.smalltext
        You can format the text (bold, etc.) with 
        %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown 
        syntax.
    = f.text_area :description, :class => 'wide'

  %h3 Rounds
  .rounds-container
    = f.fields_for :rounds do |builder|
      = render 'round_fields', :f => builder
  %p= link_to_add_fields "Add a Round", f, :rounds

  %br
  .actions
    = f.submit 'Save'
