= form_for @tournament do |f|
  -if @tournament.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tournament.errors.count, "error")} prohibited this tournament from being saved:"
      %ul
        - @tournament.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :time
    = f.text_field :time
  .field
    = f.label :elligible
    = f.text_field :elligible
  .field
    = f.label :tournament_date
    = f.date_select :tournament_date
  .field
    = f.label :description, 'Description<br /><span class="smalltext">You can format the text (bold, etc.) with Markdown syntax.  Look it up.</span>'.html_safe
    = f.text_area :description
  .field
    = f.label :directors
    = f.text_field :directors
  .actions
    = f.submit 'Save'
