%h2 Tournaments

- if current_user_is_admin?
  .flow-padding= button_to 'Create a New Tournament', new_tournament_path, :method => "get"

%p
  In addition to these Go-related activities, we will also have 
  = link_to 'a "day off" trip and other activities', events_path
  for non-players.

%a{ :name => "tournament_schedule" }

%h3 Tournament Schedule

- if @rounds_by_date.size == 0
  %p There are no tournament on the schedule.

- else
  %p.notice All tournaments, times, and eligible participants subject to change
  %p Click on the tournament name for details.
  %table.semantic.fullwidth
    - @rounds_by_date.each do |d,rounds_this_date|
      %tr.greater-header
        %th{ :colspan => current_user_is_admin? ? 5 : 3 }
          = d.to_formatted_s(:long)
      %tr.lesser-header
        %th Time
        %th Name
        %th Director(s)
      - rounds_this_date.each do |r|
        %tr
          %td= r.round_start.strftime '%l:%M %p'
          %td= link_to r.tournament.name, r.tournament
          %td= r.tournament.directors
  %br

%h3 Tournament List

- if @tournaments.size == 0
  %p There are no tournaments yet.

- else
  %p Click on the tournament name for details.
  %table.semantic.fullwidth
    %thead
      %tr
        %th Name
        %th Rounds
        %th Director(s)
        %th Eligibility
        - if current_user_is_admin?
          %th{ :colspan => 2 }
  
      - @tournaments.each do |t|
        %tr
          %td= link_to t.name, t
          %td= t.rounds.count
          %td= t.directors
          %td= t.elligible
          - if current_user_is_admin?
            %td= link_to 'Edit', edit_tournament_path(t)
            %td= link_to 'Delete', t, :confirm => 'Delete the entire tournament?  This will delete everything associated with this tournament too, including game records.', :method => :delete
