%h2 Tournaments

%p
  In addition to these Go-related activities, we will also have 
  = link_to 'a "day off" trip and other activities', events_path
  for non-players.

%a{ :name => "tournament_schedule" }

%h3 Tournament Schedule

%p.notice All tournaments, times, and eligible participants subject to change

%table.semantic.fullwidth
  - @rounds_by_date.each do |d,rounds_this_date|
    %tr.date-header
      %th{ :colspan => current_user_is_admin? ? 5 : 3 }
        = d.to_formatted_s(:long)
    %tr.lesser-header
      %th Time
      %th Name
      %th Director(s)
      - if current_user_is_admin?
        %th{ :colspan => 2 }

    - rounds_this_date.each do |r|
      %tr
        %td= r.round_start.strftime '%l:%M %p'
        %td= link_to r.tournament.name, r.tournament
        %td= r.tournament.directors
        - if current_user_is_admin?
          %td= link_to 'Edit', edit_tournament_path(r.tournament)
          %td= link_to 'Delete', r.tournament, :confirm => 'Delete the entire tournament?', :method => :delete

%br

- if current_user_is_admin?
  = link_to 'New Tournament', new_tournament_path
