%h2 Tournaments

- if current_user.present?
  .flow-padding= button_to 'Sign Up for Tournaments', choose_attendee_user_path(current_user), :method => "get"
- else
  If you have already 
  = link_to 'registered,', new_user_registration_path
  please
  = link_to 'sign in', new_user_session_path
  and select the tournaments you want to play in.

- if current_user_is_admin?
  .flow-padding= button_to 'Create a New Tournament', new_tournament_path, :method => "get"

%p
  In addition to these Go-related activities, we will also have 
  = link_to 'a "day off" trip and other activities', events_path
  for non-players.

%a{ :name => "tournament_schedule" }

%h3 Tournament Schedule

- if @rounds_by_date.size == 0
  %p There are no tournament rounds on the schedule yet.
- else
  %table.semantic.fullwidth
    - @rounds_by_date.each do |d,rounds_this_date|
      %tr.greater-header
        %th{ :colspan => current_user_is_admin? ? 5 : 3 }
          = d.to_formatted_s(:long_with_day)
          = " - Day Off!" if d === DAY_OFF_DATE[@year]
      %tr.lesser-header
        %th Time
        %th Name
        %th Location
      - rounds_this_date.each do |r|
        %tr
          %td= r.round_start.strftime '%l:%M %p'
          %td= link_to r.tournament.name, r.tournament
          %td= r.tournament.location
  %br

%h3 Tournament List

- if @tournaments.size == 0
  %p There are no tournaments yet.
- else
  %table.semantic.fullwidth
    %thead
      %tr
        %th Name
        %th Open?
        %th Rounds
        %th Attendees
        %th Director(s)
        %th Eligibility
        - if current_user_is_admin?
          %th{ :colspan => 2 }
    %tbody
      - @tournaments.each do |t|
        %tr
          %td= link_to t.name, t
          %td= t.get_openness_type_name
          %td= t.rounds.count
          %td= t.attendees.count
          %td= t.directors
          %td= t.eligible
          - if current_user_is_admin?
            %td= link_to 'Edit', edit_tournament_path(t)
            %td= link_to_destroy(t)
