%h2 Tournaments

- if current_user.present?
  .row-of-buttons
    - if can? :create, Tournament
      = button_to 'Add Tournament', new_tournament_path, :method => "get"
- else
  %p
    If you'd like to participate in these tournaments, please
    = link_to "register", new_user_registration_path
    as a player. Non-players may observe only.

- if @tournaments.size == 0
  %p There are no tournaments yet.
- else
  %table.semantic.fullwidth
    %thead
      %tr
        %th Name
        %th Open?
        %th Director(s)
        %th Eligibility
        - if current_user_is_admin?
          %th{ :colspan => 2 }
    %tbody
      - @tournaments.each do |t|
        %tr
          %td= link_to t.name, t
          %td= t.get_openness_type_name
          %td= t.directors
          %td= t.eligible
          - if current_user_is_admin?
            %td= link_to 'Edit', edit_tournament_path(t)
            %td= link_to_destroy(t)
