%h2= @tournament.name

%table.lightweight
  %tr
    %th= trl_attr 'tournament', 'location'
    %td= @tournament.location
  %tr
    %th= trl_attr 'tournament', 'directors'
    %td= @tournament.directors
  %tr
    %th= trl_attr 'tournament', 'eligible'
    %td= @tournament.eligible
  %tr
    %th= trl_attr 'tournament', 'openness'
    %td= @tournament.get_openness_type_name
  - @tournament.rounds.each do |round|
    %tr
      %td= link_to("Round #{round.number}", round )
%br
= markdown(@tournament.description).html_safe
%br

- if @tournament.registration_sign_up
  %hr

  %p
    There are
    = usgc_pluralize(@tournament.attendees.count, Attendee.model_name.human.downcase)
    registered to play in #{@tournament.name}.

  %table.player-list.semantic
    %thead
      %tr
        %th Player Name
        - if @tournament.server
          %th #{@tournament.server_name} Username
        %th Rank
    %tbody
    - @tournament.attendees.order('rank DESC').each do |player|
      %tr
        %td
          - if player.aga_id && !player.anonymous_or_underage?
            #{link_to "#{player.full_name(true)}", "http://agagd.usgo.org/player/#{player.aga_id}"}
          - else
            = player.full_name(true)
          - if @tournament.server
            %td= player.anonymous_or_underage? ? '' : player['username_' + @tournament.server]
          %td= player.rank_name

  - if can? :update, @tournament
    %p= button_to 'Edit this Tournament', edit_tournament_path(@tournament), :method => :get
