%h2= @tournament.name
%table.lightweight
  %tr
    %th= trl_attr 'tournament', 'location'
    %td= @tournament.location
  %tr
    %th= trl_attr 'tournament', 'directors'
    %td= @tournament.directors
  %tr
    %th= trl_attr 'tournament', 'eligible'
    %td= @tournament.eligible
  %tr
    %th= trl_attr 'tournament', 'openness'
    %td= @tournament.get_openness_type_name
  - @tournament.rounds.each do |round|
    %tr
      %td= link_to("Round #{round.number}", round )
%br
= markdown(@tournament.description).html_safe
%br

- if can? :update, @tournament
  %p= button_to 'Edit this Tournament', edit_tournament_path(@tournament), :method => :get
