%h2= @tournament.name
%table.lightweight
  %tr
    %th Director(s):
    %td= @tournament.directors
  %tr
    %th Eligible:
    %td= @tournament.elligible
  %tr
    %th= trl_attr 'tournament', 'openness'
    %td= @tournament.get_openness_type_name
%br

%h3 Description
= Markdown.new( @tournament.description ).to_html.html_safe
%br

%h3 Rounds
- if @tournament.rounds.size == 0
  %p 
    This tournament has no rounds.  Unless this tournament is self-paired, 
    you should probably add at least one round.
-else
  %table.lightweight
    %tbody
      - @tournament.rounds.order('round_start asc').each_with_index do |r,i|
        %tr
          %th= i+1
          %td= r.round_start.to_formatted_s(:long)
  
%br
= link_to 'Edit', edit_tournament_path(@tournament)
\|
= link_to 'Back', tournaments_path
