.registration-sheet
  .narrow-column.align-right
    = image_tag "logo/usgc/144px/#{@year.year}.png"
    %h2 #{@year.year} US <br> Go Congress
    %h2 Welcome <br> ようこそ <br>  欢迎 <br>  환영

  .wide-column
    %h1 Attendee Registration Sheet
    %h2= "#{attendee.full_name}, #{attendee.get_rank_name}"

    - if attendee.user.attendees.count > 1
      %p
        One of
        = attendee.user.attendees.count
        attendees on the user account of
        = attendee.user.email

    %table
      %tbody
        %tr
          %th Age
          %td= attendee.age_in_years.to_i
        - @attendee_attr_names.each do |a|
          %tr
            %th= trl_attr 'attendee', a
            %td
              - if attendee[a].is_a?(TrueClass) || attendee[a].is_a?(FalseClass)
                = attendee[a] ? "Yes" : "No"
              - else
                = attendee[a]
        %tr
          %th T-Shirt Size
          %td= attendee.tshirt_size

    %h2 Cost Summary
    %table
      %thead
        %th Item
        %th.numeric Price
        %th.numeric Qty
        %th.numeric Total
      %tbody
        - attendee.invoice_items.each do |i|
          %tr
            %td= i.description
            %td.numeric= cents_to_currency i.price
            %td.numeric= i.qty
            %td.numeric= cents_to_currency(i.price * i.qty)
        %tr.total
          %th{:colspan=>3} Total
          %td.numeric= cents_to_currency attendee.invoice_total
