.registration-sheet
  .narrow-column.align-right
    - f = "logo/usgc/144px/#{@year.year}.png"
    = image_tag f if image_file?(f)
    %h2 #{@year.year} US <br> Go Congress

  .wide-column
    %h1 Attendee Registration Sheet
    %p Please verify all information.
    - if attendee.cancelled?
      %h2= "#{attendee.family_name}, #{attendee.given_name}#{attendee.attendee_alternate_name} (Cancelled)"
    - else
      %h2= "#{attendee.family_name}, #{attendee.given_name}#{attendee.attendee_alternate_name}"

    %p
      = pluralize(attendee.user.attendees.count, Attendee.model_name.human.downcase)
      on the user account of
      = attendee.user.email

    %table
      %tbody
        %tr
          %th Rank
          %td= attendee.rank_name
        - if attendee.age_in_years.to_i <= 17
          %tr
            %th Age
            %td= attendee.age_in_years.to_i
          %tr
            %th Birth Date
            %td= attendee.birth_date
          %tr
            %th Guardian
            %td= attendee.guardian_full_name
          %tr
            %th Youth Attendance Agreement
            %td= attendee.understand_minor ? "Yes" : "No"
        - @attendee_attr_names.each do |a|
          %tr
            %th= trl_attr 'attendee', a
            %td
              - if attendee[a].is_a?(TrueClass) || attendee[a].is_a?(FalseClass)
                = attendee[a] ? "Yes" : "No"
              - else
                = attendee[a]
        %tr
          %th T-Shirt Size
          %td= attendee.tshirt_size

    %h2 Cost Summary
    %table
      %thead
        %th Item
        %th.numeric Price
        %th.numeric Qty
        %th.numeric Total
      %tbody
        - attendee.invoice_items.each do |i|
          %tr
            %td= i.description
            %td.numeric= cents_to_currency i.price
            %td.numeric= i.qty
            %td.numeric= cents_to_currency(i.price * i.qty)
        %tr.total
          %th{:colspan=>3} Total
          %td.numeric= cents_to_currency attendee.invoice_total

    %h2 Balance
    %table.lightweight
      %tbody
        %tr
          %th Cost
          %td.numeric= cents_to_currency attendee.user.get_invoice_total
        %tr
          %th Paid
          %td.numeric= cents_to_currency attendee.user.amount_paid
        %tr
          %th Balance
          %td.numeric= cents_to_currency attendee.user.balance
        %tr
          %th Status
          %td
            - if attendee.user.balance > 0
              = "User owes #{cents_to_currency attendee.user.balance}"
            - elsif attendee.user.balance < 0
              = "User requires a refund of #{cents_to_currency attendee.user.balance.abs}"
            - else
              Paid in full
