- b = attendee_counter + 1
- badge = "badge"
- if b.modulo(3).zero?
  - badge = "badge badge-last"

%div{:class => badge}
  .badge-logo= image_tag "logo/gc2011-logo-144.png"
  %h1.badge-attendee= attendee.get_full_name
  %h1.badge-rank= attendee.rank_name_for_badge
  %h1.badge-player-status= attendee.is_player? ? "Player" : "Non-Player"
  %h1.badge-year USGC #{CONGRESS_YEAR} 
  
  %br.clear
  %br
