%table.lightweight
  %tbody
    %tr
      %th Cost
      %td.numeric= cents_to_currency user.get_invoice_total
      - if show_detail_links
        %td.smalltext= link_to "Summary", invoice_user_path(user)
    %tr
      %th Paid
      %td.numeric= cents_to_currency user.amount_paid
      - if show_detail_links
        %td.smalltext= link_to "History", ledger_user_path(user)
    %tr
      %th Balance
      %td.numeric= cents_to_currency user.balance
    %tr
      %th Status
      %td
        - if user.balance == 0
          Paid in full
        - elsif user.balance > 0
          = "User owes #{cents_to_currency user.balance}"
        - else
          = "User requires a refund of #{cents_to_currency user.balance.abs}"
