%table.understated-head.mini-calendar.borderless{
  "data-plan-category": plan.plan_category_id,
  "data-plan": plan.id,
  :class => plan.plan_category.single ? 'single' : 'not-single'
}
  %tbody
    - first_clndr_date = true
    - @plan_calendar.each do |week|
      %tr
        - week.each do |d|
          %td.nowrap{:class => ("input" if d.present?)}
            - if d.present?
              - format = first_clndr_date ? '%-m/%-e' : '%-e'
              %div= d.strftime(format)
              - checked = selection.dates.include?(d)
              - @cbx_name = "plans[#{plan.id}][dates][]"
              = check_box_tag @cbx_name, d.strftime('%Y-%m-%d'), checked
              - first_clndr_date = false
    %tr
      %td{:colspan=>10, :class => 'align-right'}
        = button_tag('Set All', type: 'button', name: 'setAll_' + @cbx_name)
        = button_tag('Clear', type: 'button', name: 'clear_' + @cbx_name)

:javascript
  window.addEventListener('DOMContentLoaded', () => {
    const calendar = document.querySelector('[data-plan-category="#{plan.plan_category.id}"][data-plan="#{plan.id}"].single');

    if (calendar) {
      // When daily plan checkboxes are selected, clear any other plan radio inputs that have been selected
      calendar.addEventListener('change', event => {
        if (event.target.type === 'checkbox') {
          // Using the array method "some" relies on an array, not a NodeList 
          const calendarCheckBoxes = Array.from(calendar.querySelectorAll('input[type="checkbox"]'));
          const anyChecked = calendarCheckBoxes.some(checkbox => checkbox.checked);

          if (anyChecked) {
            const otherSelectedPlans = document.querySelectorAll('[name="plans[single_plan_cat_id:#{plan.plan_category.id}][plan_id]"]:checked');
            if (otherSelectedPlans) {
              otherPlans.forEach(otherPlan => otherPlan.checked = false);
            }
          }
        }
      });

      // When any of the other plans in this single-plan-only plan category are
      // selected, clear any of the checkboxes for this daily plan
      const otherPlans = document.querySelectorAll('[name="plans[single_plan_cat_id:#{plan.plan_category.id}][plan_id]"]');

      otherPlans.forEach(plan => {
        plan.addEventListener('change', event => {
          if (event.target.checked) {
            const calendarCheckBoxes = calendar.querySelectorAll('input[type="checkbox"]');
            calendarCheckBoxes.forEach(checkbox => checkbox.checked = false);
          }
        });
      });
    }
  })

  $("[name='setAll_#{@cbx_name}']").click(function() {
    $("[name='#{@cbx_name}']").each(function(i, checkbox) {
      if (!this.checked) {
        $(this).trigger('click');
      }
    });
  });

  $("[name='#{@cbx_name}']").on('change', function(event) {
    var $target = $(event.currentTarget);
    var $td = $target.closest('td');
    if ($target.prop('checked')) {
      $td.addClass('checked');
    } else {
      $td.removeClass('checked');
    }
  });

  $("[name='#{@cbx_name}']").closest('td').click(function(event) {
    if (!$(event.target).is('input')) {
      var checkbox = $(this).find('input');
      checkbox.trigger('click');
    }
  });

  $("[name='clear_#{@cbx_name}']").click(function() {
    $("[name='#{@cbx_name}']").each(function(event) {
      if (this.checked) {
        $(this).trigger('click');
      }
    });
  });
