%table.understated-head.mini-calendar.borderless
  %tbody
    - first_clndr_date = true
    - @plan_calendar.each do |week|
      %tr
        - week.each do |d|
          %td.nowrap
            - if d.present?
              - format = first_clndr_date ? '%-m/%-e' : '%-e'
              = d.strftime(format)
              %br
              - checked = selection.dates.include?(d)
              - @cbx_name = "plans[#{plan.id}][dates][]"
              = check_box_tag @cbx_name, d.strftime('%Y-%m-%d'), checked
              - first_clndr_date = false
    %tr
      %td{:colspan=>3}
        = button_tag('Set All', type: 'button', name: 'setAll_' + @cbx_name)
      %td
      %td{:colspan=>3}
        = button_tag('Clear', type: 'button', name: 'clear_' + @cbx_name)

:javascript
  $("[name='setAll_#{@cbx_name}']").click(function() {
    $("[name='#{@cbx_name}']").each(function() {
      this.checked = true;
    });
  });

  $("[name='clear_#{@cbx_name}']").click(function() {
    $("[name='#{@cbx_name}']").each(function() {
      this.checked = false;
    });
  });
