.registration-sheet

  - f = "logo/usgc/144px/#{@year.year}.png"
  .logo= image_tag f if image_file?(f)
  %h1 Cost Summary
  - if user.attendees.empty?
    %p No attendees yet.
  - else
    - for a in user.attendees.order(:family_name, :given_name)
      - if a.cancelled?
        %h2= "#{a.family_name}, #{a.given_name} (Cancelled)"
      - else
        %h2= "#{a.family_name}, #{a.given_name}"

  %table
    %tr
      %th User Email
      %td= user.email
    %tr
      %th Number of Attendees
      %td= user.attendees.count

  = render :partial => 'shared/balance', :locals => {:user => user, :show_detail_links => false}

  %br.clear
  %br

  %table.fullwidth
    %thead
      %th Attendee
      %th Item
      %th.numeric Price
      %th.numeric Qty
      %th.numeric Total
    %tbody
      - user.invoice_items.each do |i|
        %tr
          %td= truncate(strip_tags(i.attendee_full_name), :length => 30)
          %td= truncate(strip_tags(i.description), :length => 45)
          %td.numeric= cents_to_currency i.price
          %td.numeric= i.qty
          %td.numeric= cents_to_currency( i.price * i.qty )
      %tr.total
        %th{:colspan=>4} Total
        %td.numeric= cents_to_currency user.get_invoice_total

  = render :partial => 'shared/ledger', :locals => {:user => user}
