.registration-sheet

  - f = "logo/usgc/144px/#{@year.year}.png"
  .logo= image_tag f if image_file?(f)
  %h2= "User Email: #{user.email}"
  %p= "Number of Attendees: #{user.attendees.count}"
  - if user.attendees.empty?
    %p No attendees yet.
  - else
    - user.attendees.order(:family_name, :given_name).each_with_index do |a,i|
      = "#{i + 1}."
      - if a.cancelled?
        = "#{a.family_name}, #{a.given_name}#{a.attendee_alternate_name} (Cancelled)"
      - else
        = "#{a.family_name}, #{a.given_name}#{a.attendee_alternate_name}"
      %br

  %h2 Cost Summary
  %table.fullwidth
    %thead
      %th Attendee
      %th Item
      %th.numeric Price
      %th.numeric Qty
      %th.numeric Total
    %tbody
      - user.invoice_items.each do |i|
        %tr
          %td= truncate(strip_tags(i.attendee_full_name), :length => 30)
          %td= strip_tags(i.description)
          %td.numeric= cents_to_currency i.price
          %td.numeric= i.qty
          %td.numeric= cents_to_currency( i.price * i.qty )
      %tr.total
        %th{:colspan=>4} Total
        %td.numeric= cents_to_currency user.get_invoice_total

  = render :partial => 'shared/ledger', :locals => {:user => user}

  %h2 Balance
  = render :partial => 'shared/balance', :locals => {:user => user, :show_detail_links => false}
