.registration-sheet

  .logo= image_tag "logo/usgc/144px/#{@year.year}.png"
  %h1 Cost Summary
  
  %table
    %tr
      %th User Email
      %td= user.email
    %tr
      %th Primary Attendee
      %td= user.primary_attendee.name_and_rank

  = render :partial => 'shared/balance', :locals => {:user => user, :show_detail_links => false}
  
  %br.clear
  %br
  
  %table.fullwidth
    %thead
      %th Attendee
      %th Item
      %th.numeric Price
      %th.numeric Qty
      %th.numeric Total
    %tbody
      - user.invoice_items.each do |i|
        %tr
          %td= truncate(strip_tags(i.attendee_full_name), :length => 30)
          %td= truncate(strip_tags(i.description), :length => 45)
          %td.numeric= cents_to_currency i.price
          %td.numeric= i.qty
          %td.numeric= cents_to_currency( i.price * i.qty )
      %tr.total
        %th{:colspan=>4} Total
        %td.numeric= cents_to_currency user.get_invoice_total

  = render :partial => 'shared/ledger', :locals => {:user => user}
