- mnh = Activity.model_name.human
- mnhp = mnh.pluralize

%h3= mnhp

%p
  Questions? Contact the
  = link_to "registrar.", contacts_path

%p.notice-small
  All #{mnhp.downcase}, prices, and times subject to change.

%table.semantic.lightly-spaced-rows.zebra.fullwidth
  %thead
    %th
    %th Date
    %th= mnh
    %th Leave
    %th Return
    %th.numeric Price
  %tbody
    - @activities.each do |e|
      - is_checked = @atnd_activity_ids.index(e.id).present?
      - cbx_id = 'activity_id_' + e.id.to_s
      %tr{:class => (e.disabled? ? 'disabled' : nil)}
        %td.align-center= check_box_tag "attendee[activity_id_list][]", e.id, is_checked, :id => cbx_id
        %td= e.leave_time.to_date.to_formatted_s(:dow_month_day)
        %td= label_tag cbx_id, e.name
        %td= e.leave_time.to_formatted_s(:american)
        %td
          - if e.return_time.present?
            = e.return_time.to_formatted_s(:american)
        %td.numeric= e.price_for_display
