- raise "Activities undefined" if @activities.nil?

- mnh = Activity.model_name.human
- mnhp = mnh.pluralize

%h3= mnhp

%p
  Prices and times are subject to change.
  Questions? Contact the
  = link_to "registrar.", contacts_path

%table.semantic.zebra.fullwidth
  %thead
    %th
    %th Date
    %th= mnh
    %th Leave
    %th Return
    %th.numeric Price
  %tbody
    - @activities.each do |a|
      - checked = @activity_selections.include?(a.id)
      %tr{:class => (a.disabled? ? 'disabled' : nil)}
        %td.align-center
          = check_box_tag :activity_ids, a.id, checked, :name => 'activity_ids[]'
        %td= a.leave_time.to_date.to_formatted_s(:dow_month_day)
        %td= a.name
        %td= a.leave_time.to_formatted_s(:american)
        %td= a.return_time.to_formatted_s(:american) if a.return_time.present?
        %td.numeric= a.price_for_display
