%fieldset
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email

  -# The `country_select` method is provided by the country-select gem
  .field
    = f.label :country
    = f.country_select :country, PRIORITY_COUNTRIES, { :include_blank => true }
