- show_email_field ||= false

%fieldset
  %legend Contact Information
  .field
    = f.label :phone
    = f.text_field :phone

  /
    During new registrations, we do not collect an email address for the primary
    attendee. See apply_user_email_to_primary_attendee() -Jared 12/31/10
  - if show_email_field
    .field
      = f.label :email
      = f.text_field :email

  .field
    = f.label :address_1
    = f.text_field :address_1
  .field
    = f.label :address_2
    = f.text_field :address_2
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zip
    = f.text_field :zip

  -# The `country_select` method is provided by /vendor/plugins/country_select
  -# See https://github.com/jaredbeck/country_select
  .field
    = f.label :country
    = f.country_select :country, PRIORITY_COUNTRIES, { :include_blank => true }
