- show_email_field ||= false

%fieldset
  %legend Contact Information
  .field
    = f.label :phone
    = f.text_field :phone

  /
    During new registrations, we do not collect an email address for the primary
    attendee. See apply_user_email_to_primary_attendee() -Jared 12/31/10
  - if show_email_field
    .field
      = f.label :email
      = f.text_field :email

  .field
    = f.label :address_1
    = f.text_field :address_1
  .field
    = f.label :address_2
    = f.text_field :address_2
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zip
    = f.text_field :zip
  .field
    = f.label :country
    = f.text_field :country, :maxlength => 2, :size => 2
    %span.smalltext eg. US, JP, CA
