= form_for(@attendee) do |f|
  - if @attendee.errors.any?
    #error_explanation
      %h2
        = pluralize(@attendee.errors.count, "error")
        prohibited this attendee from being saved:
      %ul
        - @attendee.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Personal Information
    .field
      = f.label :given_name, 'Given (First) Name'
      = f.text_field :given_name
    .field
      = f.label :family_name, 'Family (Last) Name'
      = f.text_field :family_name
    .field
      = f.label :gender, 'Gender'
      = f.radio_button :gender, 'm'
      \&nbsp;Male
      \&nbsp;&nbsp;
      \#{f.radio_button :gender, 'f'}&nbsp;Female
    .field
      = f.label :anonymous, "Anonymous"
      = f.check_box :anonymous
      %span.smalltext Do not show on the "Who&#39;s Coming" list
    .field
      = f.label :birth_date, 'Birth date'
      = f.date_select :birth_date, :add_month_numbers => true, :start_year => Time.now.year, :end_year => 120.years.ago.year, :order => [:month, :day, :year], :include_blank => false
    .field
      = f.label :understand_minor, 'Minor Agreement'
      = f.check_box :understand_minor
      %div.smalltext.aligned-with-input
        I understand that if this attendee will not be at least 18 years of age as of July 29, 2011, I must submit the
        %a{:href => "/docs/USGC2011-Liability-Release-Form.doc"} Minor Agreement Form
        to the 
        = link_to 'deputy registrar', contact_path, :target => '_blank'
    .field
      = f.label :tshirt_size
      = f.select :tshirt_size, Attendee::TSHIRT_CHOICES, :include_blank => ''
  %fieldset
    %legend Player Information
    .field
      = f.label :rank, 'Rank'
      = f.select :rank, Attendee::RANKS, :include_blank => 'Select Rank'
      %br/
      %span.smalltext.aligned-with-input
        = link_to 'Find AGA rank', 'http://usgo.org/ratings/RatingsQuery.php', :target => '_blank'
    .field
      = f.label :aga_id, 'AGA ID'
      = f.text_field :aga_id
      %br/
      %span.smalltext.aligned-with-input
        If you do not have an
        = link_to 'AGA ID', popup_path('aga_id'), :target => '_blank'
        you may leave this blank

  = render :partial => "contact_info", :locals => { :f => f, :show_email_field => true }

  %fieldset
    .field
      = label '', ''
      = f.submit "Submit"