-# FIXME: For new registrations, we need to set the user's year
-# (and pri. att. year) before validation, but because we are using
-# Devise::RegistrationsController we can't exactly add a before_filter.
-# If we do not specify a year before validation, then validations like the
-# uniqueness check on email will use a null year, thus making the
-# validation pointless.
= hidden_field_tag "user[year]", @year
= hidden_field_tag "user[primary_attendee_attributes[year]]", @year

%fieldset
  %legend Personal Information
  .field
    = f.label :given_name, 'Given (First) Name'
    = f.text_field :given_name
  .field
    = f.label :family_name, 'Family (Last) Name'
    = f.text_field :family_name
  .field
    = f.label :gender, 'Gender'
    = f.radio_button :gender, 'm'
    Male
    \&nbsp;&nbsp;
    = f.radio_button :gender, 'f'
    Female
  .field
    = f.label :anonymous, "Anonymous"
    = f.check_box :anonymous
    %span.smalltext Hide name on the "Who&#39;s Coming" list
  .field
    = f.label :birth_date, 'Birth date'
    = f.date_select :birth_date, :start_year => Time.now.year, :end_year => 1900, :include_blank => true
    %div.smalltext.aligned-with-input
      Because we need to know if you are a minor.
  .field
    = f.label :understand_minor, 'Liability Release for Minors'
    = f.check_box :understand_minor, class: "valign-middle"
    %div#liability-release-instructions.smalltext
      I understand that if this attendee will not be at least 18 years old on 
      = CONGRESS_START_DATE[@year].to_formatted_s(:long)
      then I must submit the #{link_to_liability_release} to the
      = link_to 'registrar.', contact_path, :target => '_blank'
  .field
    = f.label :tshirt_size
    = f.select :tshirt_size, Attendee::TSHIRT_CHOICES, :include_blank => ''