%fieldset
  %legend Player Information

  .field
    = f.label :rank, 'Rank'
    = f.select :rank, Attendee::RANKS, :include_blank => 'Select Rank'
    %br/
    %span.smalltext.aligned-with-input
      = link_to 'What is rank?', popup_path('rank'), :target => '_blank'
      = link_to 'What is my AGA rank?', 'http://usgo.org/ratings/RatingsQuery.php', :target => '_blank'

  .field
    = f.label :aga_id, 'AGA ID'
    = f.text_field :aga_id
    %br/
    %span.smalltext.aligned-with-input
      If you do not have an
      = link_to 'AGA ID', popup_path('aga_id'), :target => '_blank'
      you may leave this blank

  .field
    = f.label :congresses_attended, 'Congresses Attended'
    = f.number_field :congresses_attended, :size => 3, :min => 0, :max => 99, :step => 1
    %span.smalltext How many previous US Go Congresses attended?

  .field
    = f.label :is_current_aga_member, "AGA membership is current?"
    = f.radio_button :is_current_aga_member, true
    Yes &nbsp;
    = f.radio_button :is_current_aga_member, false
    No (expired or not a member)
