%h3 Flying to / from #{@year.nearby_airport_city}?

%p
  Do you want help connecting with the airport shuttle bus?

  - if @year.year == 2012
    Please read the
    = link_to 'airport shuttle instructions.', '#', :id => 'open_dialog_airport_shuttle'

%fieldset
  .field
    = f.label :airport_arrival
    .datetime-fields
      .datetime-field
        %label Date
        = text_field_tag "airport_arrival_date", @airport_arrival_date, :class => 'date-field', :size => 10
      .datetime-field
        %label Time
        = text_field_tag "airport_arrival_time", @airport_arrival_time, :class => 'time-field', :size => 10
        %span.smalltext eg. 8:00 AM
      .datetime-field
        %label Flight #
        = f.text_field :airport_arrival_flight, :size => 10

  .field
    = f.label :airport_departure
    .datetime-fields
      .datetime-field
        %label Date
        = text_field_tag "airport_departure_date", @airport_departure_date, :class => 'date-field', :size => 10
      .datetime-field
        %label Time
        = text_field_tag "airport_departure_time", @airport_departure_time, :class => 'time-field', :size => 10
        %span.smalltext eg. 8:00 AM

.dialog#dialog_airport_shuttle_2012{:title => "Airport Shuttle"}
  %p
    The Go Congress site is approximately 35 minutes from
    the Asheville airport by car.
  %p
    We will coordinate a shuttle service to and from the
    Airport during peak travel times on Saturday August 4th,
    and Sunday August 12th. There will be a congress volunteer
    at the Airport to greet and group arriving attendees.
  %p
    Shared fares will range from about $10-$33 per person depending
    on the number of riders. Individual shuttle fares are $65.
  %p
    Without a reservation you may have to use a cab which would be
    more than the $65 individual shuttle cost.

:javascript
  $(function(){
    $( "#open_dialog_airport_shuttle" ).click(function() {
      $( "#dialog_airport_shuttle_2012" ).dialog( "open" );
      return false;
    });

    arrival = new Date("#{ @airport_arrival_date_rfc822 }");
    installDatePicker('#airport_arrival_date', arrival);

    departure = new Date("#{ @airport_departure_date_rfc822 }");
    installDatePicker('#airport_departure_date', departure);
  });

  function installDatePicker(selector, defaultDate) {
    $(selector).datepicker({
      dateFormat: 'yy-mm-dd',
      defaultDate: defaultDate
    });
  }
