%h3 Special Concerns or Requests

-# This hidden field is a necessary workaround
-# for the case when no discounts are selected.
= hidden_field_tag 'discount_ids[]', nil

- if @discounts.count > 0
  %fieldset
    %legend Discounts
    %p
      = @attendee.is_primary? ? 'Do you' : 'Does this attendee'
      qualify for any of these discounts?
    - @discounts.each do |d|
      .field
        %label= d.name
        - cbx_id = 'attendee_discount_id_' + d.id.to_s
        - cbx_checked = @attendee_discount_ids.index(d.id).present?
        = check_box_tag 'discount_ids[]', d.id, cbx_checked, :id => cbx_id

%fieldset
  .field
    = f.label :roomate_request
    = f.text_area :roomate_request, :rows => 2
  .field
    = f.label :special_request
    = f.text_area :special_request, :rows => 2
