%h2
  Administration for
  = @attendee.get_full_name

= form_for( @attendee ) do |f|

  -# Page parameter.  Required.  Determines validations, among other things.
  = hidden_field_tag :page, @page

  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  %fieldset.wider-labels
    .field
      = f.label :deposit_received_at
      = f.date_select :deposit_received_at, |
        :start_year => Time.now.year - 1, |
        :end_year => Time.now.year + 1, |
        :include_blank => true
      %br
      %span.smalltext.aligned-with-input
        When was the initial deposit received for this attendee?
        This will determines eligibility for "early-bird" discounts.
    .field
      = f.label :minor_agreement_received
      = f.check_box :minor_agreement_received
    .field
      = f.label :confirmed
      = f.check_box :confirmed
      %br
      %ul.smalltext.aligned-with-input
        %li Inital deposit paid
        %li Minor agreement received (if applicable)
        %li Check membership in reciprocating foreign association
    .field
      = f.label :comment
      = f.text_area :comment, {:class => "inline", :rows => 3 }

  %fieldset.wider-labels
    .field
      %label Invitational Tournaments
      .cbx-list
        - @invitational_tournaments.each do |t|
          - is_checked = @atnd_inv_trn_ids.index(t.id).present?
          - cbx_id = 'tournament_id_' + t.id.to_s
          = check_box_tag "attendee[tournament_id_list][]", t.id, is_checked, :id => cbx_id
          = label_tag cbx_id, t.name, :class => 'smalltext'
          %br

  %fieldset.wider-labels
    .aligned-with-input
      = f.submit "Submit"
      = link_to "cancel", user_path(@attendee.user)
