%h2
  Administration for
  = @attendee.get_full_name

= form_for( @attendee ) do |f|

  -# Page parameter.  Required.  Determines validations, among other things.
  = hidden_field_tag :page, @page

  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  %fieldset.wider-labels
    - if @attendee.minor?
      .field
        = f.label :minor_agreement_received
        = f.check_box :minor_agreement_received
    .field
      = f.label :comment
      = f.text_area :comment, {:class => "inline", :rows => 3 }

  %br
  %fieldset.wider-labels
    .aligned-with-input
      = f.submit "Submit"
      = link_to "cancel", user_path(@attendee.user)
