%h2= @attendee.get_full_name

= form_for(@attendee) do |f|
  = hidden_field_tag :page, @page

  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  %fieldset
    %legend Which events are you interested in?
    - Event.yr(@year).each do |e|
      .field
        .cbx-list
          - cbx_id = 'event_id_' + e.id.to_s
          - checked = e.name.downcase.include? 'congress'
          = check_box_tag "event_ids[]", e.id, checked, id: cbx_id
          %label{class: 'cbx-list-label'}= e.name

  %p
    You can always change your mind later.

  = render :partial => "travel_plans", :locals => { :f => f }

  %fieldset
    .field
      = f.submit "Continue"
