- mnh = Plan.model_name.human.downcase

%h2= @attendee.full_name
%h3= @plan_category.name.titleize

%p
  - if @plans.count == 0
    There are no #{mnh.pluralize} in this category, so feel free to skip it!
  - else
    Select #{noun_with_article(mnh, @plans)} by clicking on the check
    box ( #{disabled_checkbox}
    )#{ " or entering a quantity" if @show_quantity_instructions }.

    If you have any questions, please contact the
    = link_to 'registrar.', contacts_path

- form_action = update_plans_for_attendee_path(@attendee, @plan_category)
= form_for(@attendee, url: form_action) do |f|

  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  - if @plans.count > 0
    %table.semantic.fullwidth
      %thead
        %tr
          %th
          = render :partial => "plan_categories/plan_table_common_headers"
      %tbody
        - @plans.each do |plan|
          %tr{:class => if plan.disabled? then "disabled" end }
            %td.align-center
              - qty = @attendee.get_plan_qty plan.id
              - qty_field_name = "attendee[plan_#{plan.id}_qty]"
              - if plan.max_quantity == 1
                = check_box_tag qty_field_name, 1, qty == 1, :title => "Select this " + mnh
              - else
                = number_field_tag qty_field_name, qty, :size => 2, :min => 0, :max => plan.max_quantity, :title => "Enter a quantity"
            %td= plan.name
            = render :partial => "plan_categories/plan_table_common_cells", :locals => { :plan => plan }

  = render :partial => "plan_categories/explain_availability"

  .actions
    %br
    = f.submit "Continue"
