%h2= @attendee.full_name
%h3 Tournaments

%p
  If you have questions, please consult the
  = link_to "tournament schedule", tournaments_path(@year.year)
  or contact the appropriate
  = link_to "tournament director.", contact_path


= form_for( @attendee ) do |f|
  = hidden_field_tag :page, @page
  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  %table.semantic.fullwidth
    %thead
      %th
      %th Tournament
      %th
        Notes
        %span{:style=>'font-weight:normal;'} (eg. pair go partner, or club team name)
    %tbody
      - @open_tournaments.each do |t|
        - is_checked = @atnd_open_trn_ids.index(t.id).present?
        - cbx_id = 'tournament_id_' + t.id.to_s
        %tr
          %td.align-center= check_box_tag "attendee[tournament_id_list][]", t.id, is_checked, :id => cbx_id
          %td= label_tag cbx_id, t.name
          %td
            - if t.show_attendee_notes_field
              - notes_value = @attendee.get_notes_for_tournament(t.id)
              = text_field_tag "attendee[trn_#{t.id}_notes]", notes_value

  %br
  = f.submit "Submit"
  = link_to "cancel", user_path(@attendee.user)
