- mnh = Event.model_name.human
- mnhp = mnh.pluralize

%h2 #{mnhp} for #{@attendee.get_full_name}

%p
  Which #{mnhp.downcase} will #{@attendee.given_name} particpate in?
  If you have questions, please consult the #{mnh.downcase} schedule
  or contact the
  = link_to "registrar.", contact_path

%p.notice All #{mnhp}, prices, and times subject to change.

= form_for( @attendee ) do |f|
  = hidden_field_tag :page, @page
  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  %br
  %table.semantic.lightly-spaced-rows.zebra.fullwidth
    %thead
      %th
      %th Date
      %th= mnh
      %th Depart
      %th Start
      %th.numeric Price
    %tbody
      - @events.each do |e|
        - is_checked = @atnd_event_ids.index(e.id).present?
        - cbx_id = 'event_id_' + e.id.to_s
        %tr
          %td.align-center= check_box_tag "attendee[event_id_list][]", e.id, is_checked, :id => cbx_id
          %td= e.start.to_date.to_formatted_s(:dow_month_day)
          %td= label_tag cbx_id, e.name
          %td
            - if e.depart_time.present?
              = e.depart_time.to_formatted_s(:american)
          %td= e.start.to_time.to_formatted_s(:american)
          %td.numeric= format_price(e.price)

  %br
  = f.submit "Submit"
  = link_to "cancel", user_path(@attendee.user)
