- mnh = Plan.model_name.human.downcase

%h2= @plan_category.name.titleize

%p
  - if @plans.count == 0
    There are no #{mnh.pluralize} in this category, so feel free to skip it!
  - else
    Select 
    = (@plans.count == 1) ? "the " + mnh : mnh.pluralize
    by clicking on the check box (
    %input{ :type => 'checkbox', :disabled => 'disabled' }
    ) or entering a quantity.
    If you have any questions, please contact the 
    = link_to 'registrar.', contact_path

- form_action = update_plans_for_attendee_path(@attendee, @plan_category)
= form_for(@attendee, url: form_action) do |f|

  = render :partial => "shared/error_messages", :locals => { :resource => @attendee }

  - if @plans.count > 0
    %table.semantic.zebra.fullwidth
      %tbody
        %tr.lesser-header
          %th
          %th= trl_attr 'plan', 'name'
          %th Attendee Age
          %th= trl_attr 'plan', 'description'
          %th.numeric= trl_attr 'plan', 'price'
        - @plans.each do |plan|
          %tr
            %td.align-center
              - qty = @attendee.get_plan_qty plan.id
              - qty_field_name = "attendee[plan_#{plan.id}_qty]"
              - if plan.max_quantity == 1
                = check_box_tag qty_field_name, 1, qty == 1, :title => "Select this " + mnh
              - else
                = number_field_tag qty_field_name, qty, :size => 2, :min => 0, :max => plan.max_quantity, :title => "Enter a quantity"
            %td= plan.name
            %td= plan.age_range_in_words
            %td= Markdown.new( plan.description ).to_html.html_safe
            %td.numeric= format_price(plan.price)

  .actions
    %br
    = f.submit "Save Changes"
