%h1 Who&#39;s Coming?
%p
  Are you coming?  Please #{link_to 'register', '/users/sign_up'}!
%table.semantic.fullwidth
  %thead
    %tr
      %th= link_to "Given Name", :sort => "given_name"
      %th= link_to "Family Name", :sort => "family_name"
      %th= link_to "Rank", :sort => "rank"
      %th= link_to "Country", :sort => "country"
      %th= link_to "Registration Date", :sort => "created_at"
  %tbody
    - @attendees.each do |a|
      %tr{:class => if a.anonymous then "understated" end }
        %td= if a.anonymous then "Anonymous" else a.given_name end
        %td= if a.anonymous then "Anonymous" else a.family_name end
        %td= a.get_rank_name
        %td= a.country
        %td= a.created_at.to_date.to_formatted_s(:rfc822)
