%h2 Who is Coming?

- if @year.registration_phase == "closed"
  %p Registration for the #{@year.year} Go Congress has not yet begun.

- elsif @year.registration_phase == "canceled"
  - if @year.year == 2020
    %p
      The 2020 U.S. Go Congress in Estes Park has been canceled. The 2020 e-Go
      Congress does not have a public attendee list here, but we look forward to
      seeing you!
  - else
    %p The #{@year.year} Go Congress has been canceled.

- else
  - if @who_is_coming.count > 0
    %p
      There are #{ @who_is_coming.count } people registered, including
      #{@who_is_coming.kyu_count} kyu players, #{@who_is_coming.dan_count} dan
      players, and #{pluralize(@who_is_coming.pro_count, 'pro')}.
      Also, #{@who_is_coming.unregistered_count} other people have not finished
      their registration.  A payment of at least $70 must be made before
      attendees of an account can appear on this list.  Attendees under the age
      of eighteen (18) will not appear on this list.

    - unless anyone_signed_in?
      %p
        Are you coming?  Please
        = link_to 'register!', new_user_registration_path

    %table.semantic.fullwidth.zebra
      %thead
        %tr
          %th
          - %w[given_name family_name rank country created_at].each do |c|
            - drn = (c == params[:sort]) ? @who_is_coming.opposite_direction : :asc
            %th= link_to trl_attr(:attendee, c), :sort => c, :direction => drn
      %tbody
        - @who_is_coming.attendees.each_with_index do |a,i|
          %tr{:class => if a.anonymous then "understated" end }
            %td= i + 1
            %td= a.given_name_anonymized
            %td= a.family_name_anonymized
            %td= a.rank_name
            %td= a.anonymize_attribute :country
            %td= a.created_at.to_date.to_formatted_s(:rfc822)
  - else
    %p
      This list is currently not available.
