%h2 Who is Coming?

- if @year.registration_phase == "closed"
  %p Registration for the #{@year.year} Go Congress has not yet begun.

- elsif @year.registration_phase == "canceled"
  %p The #{@year.year} Go Congress has been canceled.

- else
  - if @who_is_coming.count > 0
    %p
      = @who_is_coming.summary_sentence

      - if @who_is_coming.unregistered_count > 0
        :plain
          Also, #{usgc_pluralize(@who_is_coming.unregistered_count)} other
          #{@who_is_coming.unregistered_count == 1 ? 'person' : 'people'}
          #{@who_is_coming.unregistered_count == 1 ? 'has' : 'have'} not
          finished their registration #{@year.event_type == "in_person" ? 'by making a deposit > $100' : ''}.

    - unless anyone_signed_in?
      %p
        Are you coming?  Please
        = link_to 'register!', new_user_registration_path

    %table.semantic.fullwidth.zebra
      %thead
        %tr
          %th
          - %w[given_name family_name rank state country created_at].each do |c|
            - drn = (c == params[:sort]) ? @who_is_coming.opposite_direction : :asc
            %th= link_to trl_attr(:attendee, c), :sort => c, :direction => drn
      %tbody
        - @who_is_coming.public_list.each_with_index do |a,i|
          %tr{:class => if a.anonymous then "understated" end }
            %td= i + 1
            %td= a.given_name_anonymized
            %td= a.family_name_anonymized
            %td= a.rank_name
            %td= a.anonymize_attribute :state
            %td= a.anonymize_attribute :country
            %td= a.created_at.to_date.to_formatted_s(:rfc822)
  - else
    %p
      Coming soon!
