%h2 Who is Coming?

- if @year.registration_phase == "closed"
  %p Registration for the #{@year.year} Go Congress has not yet begun.

- else

  %p
    There are #{ @who_is_coming.count } people registered, including
    #{@who_is_coming.kyu_count} kyu players, #{@who_is_coming.dan_count} dan
    players, and #{pluralize(@who_is_coming.pro_count, 'pro')}.
    Also, #{@who_is_coming.unregistered_count} other people have not finished
    their registration.  All required plans such as registration and housing
    for all attendees in an account must be paid for before these attendees
    can appear on this list.

  - unless anyone_signed_in?
    %p
      Are you coming?  Please
      = link_to 'register!', new_user_registration_path

  %table.semantic.fullwidth.zebra
    %thead
      %tr
        %th
        - %w[given_name family_name rank country created_at].each do |c|
          - drn = (c == params[:sort]) ? @who_is_coming.opposite_direction : :asc
          %th= link_to trl_attr(:attendee, c), :sort => c, :direction => drn
    %tbody
      - @who_is_coming.attendees.each_with_index do |a,i|
        %tr{:class => if a.anonymous then "understated" end }
          %td= i + 1
          %td= a.given_name_anonymized
          %td= a.family_name_anonymized
          %td= a.rank_name
          %td= a.anonymize_attribute :country
          %td= a.created_at.to_date.to_formatted_s(:rfc822)
