%h2 All Attendees

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th Attendees
      %th User Email Address
      %th{:colspan => "2"}
    %tbody
      - @attendees.each do |attendee|
        %tr
          %td= link_to "#{attendee.family_name}, #{attendee.given_name}", print_summary_for_attendee_path(attendee)
          %td= attendee.user.email
          %td= link_to 'Account', attendee.user
