.logo-column
  = image_tag "logo/gc2011-logo-144.png"
  %h2 #{CONGRESS_YEAR} US <br> Go Congress
  %h2 Welcome <br> ようこそ <br>  欢迎 <br>  환영

%h1= @attendee.get_full_name

%table
  %thead
    %th Invoice Items
    %th.numeric Price
    %th.numeric Qty
    %th.numeric Total
  %tbody
    - @attendee.invoice_items.each do |i|
      %tr
        %td= i['item_description']
        %td.numeric= number_to_currency i['item_price']
        %td.numeric= i['qty']
        %td.numeric= number_to_currency( i['item_price'] * i['qty'] )

%p
  %strong Invoice Total:
  = number_to_currency @attendee.invoice_total
