%h2
  = @attendee.possessive_pronoun_or_name
  Room and Board Options

%p
  There 
  = (@plans_ordered.count == 1) ? "is" : "are"
  = @plans_ordered.count
  room and board 
  = (@plans_ordered.count == 1) ? "plan" : "plans"
  for people who are
  = @attendee.age_in_years.floor
  years old.
  - if @plans_ordered.count > 0
    Select 
    = (@plans_ordered.count == 1) ? "the plan" : "as many plans as you want"
    by clicking on the check box (
    %input{ :type => 'checkbox', :disabled => 'disabled' }
    ) and then "Save Changes".

%p
  %strong Staying off-site?
  If you are not interested in room and board plans, you may
  = link_to "skip this step.", user_path(@attendee.user)

%p
  %strong Need help? 
  Please email the 
  = link_to 'registrar.', contact_path

= form_for(@attendee) do |f|

  - if @attendee.errors.any?
    #error_explanation
      %h2
        = pluralize(@attendee.errors.count, "error")
        prohibited this attendee from being saved:
      %ul
        - @attendee.errors.full_messages.each do |msg|
          %li= msg

  -# The update action will inspect the page parameter to determine 
  -# which validations to run
  = hidden_field_tag :page, @page

  -# This hidden field is a necessary workaround 
  -# for the case when no checkboxes are selected.
  = hidden_field_tag "attendee[plan_ids][]", nil

  - if @plans_ordered.count > 0
    %table.semantic.zebra.fullwidth
      %tbody
        - @plans_grouped.each do |category, plans_in_group|
          %tr.greater-header
            %th{ :colspan => 5 }
              = category.name
              -#? "Plans that include a room" : "Meals only"
          %tr.lesser-header
            %th
            %th= trl_attr 'plan', 'name'
            %th Attendee Age
            %th= trl_attr 'plan', 'description'
            %th.numeric= trl_attr 'plan', 'price'
    
          - plans_in_group.each do |plan|
            %tr
              %td.align-center
                - cbx_id = 'attendee_plan_id_' + plan.id.to_s
                - has_plan = @attendee_plan_ids.index(plan.id).present?
                = check_box_tag "attendee[plan_ids][]", plan.id, has_plan, :id => cbx_id
              %td= plan.name
              %td= plan.age_range_in_words
              %td= Markdown.new( plan.description ).to_html.html_safe
              %td.numeric= format_price(plan.price)

  %p Do you have any specific room or dining concerns or requests?
  %fieldset
    .field
      = f.label :roomate_request
      = f.text_area :roomate_request, :rows => 2, :class => 'wide'
    .field
      = f.label :special_request
      = f.text_area :special_request, :rows => 2, :class => 'wide'

  .actions
    %br
    = f.submit "Save Changes"
