- a = @attendee

%h2= a.get_full_name

-# It is helpful to administrators to have an easy link back to the user
-# account page.  Regular users do not need such a link, because they
-# can simply click "My Account"
- if can?(:manage, a.user) && a.user != current_user
  %p
    #{a.given_name.titleize} is an #{Attendee.model_name.human.downcase}
    on this acount:
    = link_to a.user.email, a.user

%ul
  %li= link_to 'Basics', edit_attendee_path(a, :basics)

- if current_user.is_admin?
  %h3 Administration
  %ul
    %li= link_to 'Print Registration Sheet', print_summary_for_attendee_path(a)
    %li= link_to 'Print Badge', print_badge_for_attendee_path(a)
