%h2 Professionals

%p
  Professional Go teachers will attend the #{@year} U.S. Go Congress. As the list of
  attending Pros is created, descriptions of them will appear on this webpage.

- if @attendees.size > 0
  %h3= pluralize(@attendees.size, 'Registered Pro')
  %table.semantic.fullwidth.zebra
    %thead
      %tr
        %th Given Name
        %th Family Name
        %th Rank
        %th Country
        %th Registration Date
    %tbody
      - @attendees.each do |a|
        %tr
          %td= a.given_name
          %td= a.family_name
          %td= a.rank_name
          %td= a.country
          %td= a.created_at.to_date.to_formatted_s(:rfc822)
