#footer
  -# #sponsors
    - @year.sponsors.each do |name,url|
      %a{:href => url}= image_tag "sponsors/#{name}.jpg"
  #site-credit
    %p Content &copy; #{@year.year} U.S. Go Congress
    %p
      Web Programming by
      = succeed ', ' do
        %a{:href => "http://www.jaredbeck.com"} Jared&nbsp;Beck
      Rexford&nbsp;Cristal, and
      = succeed '.' do
        %a{:href => "http://nateeagle.com"} Nate&nbsp;Eagle
