#footer
  -# #sponsors
    - @year.sponsors.each do |name,url|
      %a{:href => url}= image_tag "sponsors/#{name}.jpg"
  #site-credit
    %p Content &copy; #{@year.year} U.S. Go Congress
    %p
      Web Programming by
      = succeed ', ' do
        %a{:href => "http://www.jaredbeck.com"} Jared&nbsp;Beck
      Rexford&nbsp;Cristal,
      = succeed ', and' do
        Nate&nbsp;Eagle
      = succeed '.' do
        %a{:href => "https://github.com/compostbrain"} Joel Cahalan

    %p
      For website questions or issues, please contact
      = succeed '.' do
        %a{:href => "mailto:nate.eagle@nationalgocenter.org"} Nate&nbsp;Eagle
