#footer
  -# #sponsors
    - @year.sponsors.each do |name,url|
      %a{:href => url}= image_tag "sponsors/#{name}.jpg"
  #site-credit
    %p Content &copy; #{@year.year} US Go Congress
    %p
      Web Programming by
      = succeed ', ' do
        %a{:href => "http://www.jaredbeck.com", :target => "_blank"} Jared Beck
      Rexford Cristal, and
      = succeed '.' do
        %a{:href => "http://nateeagle.com", :target => "_blank"} Nate Eagle
