%div.logo-welcome-container
  %div.usgc-logo
    = link_to year_path do
      - f = "logo/usgc/#{@logo_file}"
      - if image_file?(f)
        = image_tag "logo/usgc/#{@logo_file}"

  %div
    
  - if @year.registration_phase == 'canceled'
    %h2
      The #{@year} Go Congress has been Canceled
  - elsif @upcoming
    %h2
      - if @year.event_type == 'in-person'
        Join us for the #{@year.ordinal_number.ordinalize}&nbsp;Annual U.S.&nbsp;Go&nbsp;Congress
      - else
        Join us for the #{@year} e-Go Congress
  - else
    %h2
      The #{@year.ordinal_number.ordinalize}&nbsp;Annual
      U.S.&nbsp;Go&nbsp;Congress

  = editable_text('welcome')