- content_for :before_footer do
  .content.past-years
    %p
      Other Years: &nbsp;
      = link_to 2006, "http://www.trianglegoclub.org/gocongress06"
      - [2007,2009,2010].each do |y|
        = link_to y, "http://old.usgo.org/congresses/#{y}"
      - @years.each do |y|
        = link_to y, "/#{y}"
