#venue-address
  - if @year.venue_name.present?
    %h3 This Year&rsquo;s Venue
    = link_to @year.venue_name, @year.venue_url
  - if @year.venue_address.present?
    %br
    = @year.venue_address
  - if @year.venue_city.present?
    %br
    = @year.venue_city + ","
    = @year.venue_state
    = @year.venue_zip
  - if @year.venue_phone.present?
    %br
    = @year.venue_phone
