/ Slideshow.  Only displayed if JS is on - Jared 7/27/10
#gallery-container{:style => "display: none;"}
  #gallery
    - 1.upto(9) do |i|
      /
        The img title ends up in a div.galleria-info-title
        The img alt ends up in a div.galleria-info-description
        Leave the alt empty -Jared 12/20/10
      = image_tag "slideshow/0" + i.to_s + ".jpg", :title => @arSlides[i-1][0], :alt => @arSlides[i-1][1]

.curvy-text-container
  = image_tag "logo/gc2011-logo-300.png", :id => 'usgc-logo'
  .curvy-spacer{:style => "width: 85px;"} &nbsp;
  .curvy-spacer{:style => "width: 110px;"} &nbsp;
  .curvy-spacer{:style => "width: 130px;"} &nbsp;
  .curvy-spacer{:style => "width: 145px;"} &nbsp;
  .curvy-spacer{:style => "width: 155px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 160px;"} &nbsp;
  .curvy-spacer{:style => "width: 150px;"} &nbsp;
  .curvy-spacer{:style => "width: 135px;"} &nbsp;
  .curvy-spacer{:style => "width: 120px;"} &nbsp;
  .curvy-spacer{:style => "width: 105px;"} &nbsp;
  .curvy-spacer{:style => "width: 60px;"} &nbsp;

  %p
    The US Go Congress is the largest Go tournament in the United States.
    It happens once a year and spans one week. Events include:
  %p
    %span.event-title US Open - 
    the largest annual Go tournament in the US
  %p
    %span.event-title North American Ing Masters -
    32 of the strongest amateur and professional players in North America
  %p
    %span.event-title The Redmond Cup -
    the preeminent youth tournament of the year
  %p
    = link_to "Pro lectures, Simuls,", vip_path
    Vendor area

  %div{:style => "clear:left;"}

%p
  The venue is the
  = link_to 'University of California, Santa Barbara.', 'http://www.ucsb.edu'
  %br
  552 University Road, Santa Barbara California, 93106

- if @contents.size > 0
  %h3 Announcements

- @contents.each do |c|
  %h4
    = c.created_at.to_date.to_formatted_s(:long)
    \-
    = c.subject
  = Markdown.new(c.body).to_html.html_safe
