/ Slideshow.  Only displayed if JS is on - Jared 7/27/10
#gallery-container{:style => "display: none;"}
  #gallery
    - 1.upto(9) do |i|
      /
        The img title ends up in a div.galleria-info-title
        The img alt ends up in a div.galleria-info-description
        Leave the alt empty -Jared 12/20/10
      = image_tag "slideshow/0" + i.to_s + ".jpg", :title=>@arSlideTitles[i-1], :alt=>""

.curvy-text-container
  = image_tag "logo/gc2011-logo-300.png", :id => 'usgc-logo'
  .curvy-spacer{:style => "width: 80px;"} &nbsp;
  .curvy-spacer{:style => "width: 100px;"} &nbsp;
  .curvy-spacer{:style => "width: 115px;"} &nbsp;
  .curvy-spacer{:style => "width: 135px;"} &nbsp;
  .curvy-spacer{:style => "width: 155px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 160px;"} &nbsp;
  .curvy-spacer{:style => "width: 150px;"} &nbsp;
  .curvy-spacer{:style => "width: 135px;"} &nbsp;
  .curvy-spacer{:style => "width: 120px;"} &nbsp;
  .curvy-spacer{:style => "width: 105px;"} &nbsp;
  .curvy-spacer{:style => "width: 60px;"} &nbsp;

  %p
    The US Go Congress is the largest Go tournament in the United States. It
    happens once a year and spans one week. Events include:
  %p
    %span.event-title US Open
    \- the largest annual Go tournament in the US
  %p
    %span.event-title North American Ing Masters
    \- 32 of the strongest amateur and professional players in North America
  %p
    %span.event-title The Redmond Cup
    \- the preeminent youth tournament of the year
  %p Pro lectures, Simuls, Vendor area
  %div{:style => "clear:left;"}

%p
  The venue is the University of California, Santa Barbara.
  %br
  552 University Road, Santa Barbara California, 93106
  %br
  = link_to 'www.ucsb.edu', 'http://www.ucsb.edu'

- if @contents.size > 0
  %h3 Announcements

- @contents.each do |c|
  %h4
    = c.created_at.to_date.to_formatted_s(:long)
    \-
    = c.subject
  = Markdown.new(c.body).to_html.html_safe
