= render "#{@year.year}/home/app" rescue nil
- if @year.year == 2020
  %div.egc-logo
    = link_to year_path do
      - f = "logo/usgc/2020e.png"
      - if image_file?(f)
        = image_tag "logo/usgc/2020e.png"
  = render @contents
= render "#{@year.year}/home/logo_and_welcome" rescue render 'logo_and_welcome'

%div.homepage-secondary
  #gallery-column
    = render 'slideshow'
  = render 'addresses'
  - if @year.year >= 2016
    = render "#{@year.year}/home/mailing_list" rescue render 'mailing_list'
  - if @year.year != 2020
    = render @contents
= render 'past_years'
