= render "#{@year.year}/home/app" rescue nil
= render "#{@year.year}/home/logo_and_welcome" rescue render 'logo_and_welcome'
= render @contents

%div.homepage-secondary
  #gallery-column
    = render 'slideshow'
  = render 'addresses'
  - if @year.year >= 2016
    = render "#{@year.year}/home/mailing_list" rescue render 'mailing_list'
= render 'past_years'
