#gallery-column

  / Slideshow. Without JS, it's just a list of pictures, breaking the layout.
  / So, we only display it if JS is on - Jared 7/27/10
  #gallery-container{:style => "display: none;"}
    #gallery
      - 1.upto(@slides.length) do |i|
        / img title becomes div.galleria-info-title
        / img alt becomes div.galleria-info-description
        = image_tag "slideshow/#{@year}/0" + i.to_s + ".jpg", :title => @slides[i-1][0], :alt => @slides[i-1][1]

  %p#venue-address
    = link_to @venue_name, @venue_url
    %br
    = @venue_address
    %br
    = @venue_city_state_zip

.curvy-text-container
  = image_tag "logo/usgc/#{@year}.png", :id => 'usgc-logo'
  .curvy-spacer{:style => "width: 85px;"} &nbsp;
  .curvy-spacer{:style => "width: 110px;"} &nbsp;
  .curvy-spacer{:style => "width: 130px;"} &nbsp;
  .curvy-spacer{:style => "width: 145px;"} &nbsp;
  .curvy-spacer{:style => "width: 155px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 170px;"} &nbsp;
  .curvy-spacer{:style => "width: 170px;"} &nbsp;
  .curvy-spacer{:style => "width: 170px;"} &nbsp;
  .curvy-spacer{:style => "width: 170px;"} &nbsp;
  .curvy-spacer{:style => "width: 165px;"} &nbsp;
  .curvy-spacer{:style => "width: 155px;"} &nbsp;
  .curvy-spacer{:style => "width: 150px;"} &nbsp;
  .curvy-spacer{:style => "width: 140px;"} &nbsp;
  .curvy-spacer{:style => "width: 125px;"} &nbsp;
  .curvy-spacer{:style => "width: 90px;"} &nbsp;

  %p
    The US Go Congress is the largest Go tournament in the United States.
    It happens once a year and spans one week. Events include the US Open,
    the largest annual Go tournament in the US.
  - if @year == 2012
    %p
      = image_tag "icons/pdf-16x16.gif"
      = link_to "Brochure", "docs/USGC2012-Brochure.pdf"
  %p
    Attending the US Go Congress or any of the AGA sponsored events at the Blue
    Ridge Assembly is as easy as:
    %ul
      %li
        = link_to "Start Here", new_user_registration_path
        to create an account
      %li
        = link_to "Sign In", new_user_session_path
        to manage your account
      %li Check back regularly for updates


  %div{:style => "clear:left;"}

- @contents.each do |c|
  %h3= c.subject
  = Markdown.new(c.body).to_html.html_safe

- content_for :before_footer do
  .content.past-years
    %p
      Other Years: &nbsp;
      = link_to 2006, "http://www.trianglegoclub.org/gocongress06"
      - [2007,2009,2010].each do |y|
        = link_to y, "http://www.usgo.org/congresses/#{y}"
      - @years.each do |y|
        = link_to y, "/#{y}"
