= form_for(@event) do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @event }
  
  %fieldset
    .field
      = f.label :evtname, "Event Name"
      = f.text_field :evtname
    .field
      = f.label :start, "Start"
      = f.datetime_select :start, :start_year => CONGRESS_YEAR.to_i, :end_year => CONGRESS_YEAR.to_i
    .field
      = f.label :evtdeparttime, "Depart Time"
      = f.text_field :evtdeparttime
    .field
      = f.label :evtprice, "Price"
      = f.text_field :evtprice, :size => 5
    .field
      = f.label :evtprice, "Notes"
      = f.text_field :notes

  .actions
    = f.submit
