= form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :evtdate, "Event Date"
    %br/
    = f.date_select :evtdate, :start_year => CONGRESS_YEAR.to_i, :end_year => CONGRESS_YEAR.to_i
  .field
    = f.label :evtname, "Event Name"
    %br/
    = f.text_field :evtname
  .field
    = f.label :evtdeparttime, "Depart Time"
    %br/
    = f.text_field :evtdeparttime
  .field
    = f.label :evtstarttime, "Start Time"
    %br/
    = f.text_field :evtstarttime
  .field
    = f.label :evtprice, "Price"
    %br/
    = f.text_field :evtprice
  .actions
    = f.submit
