<h1>Listing events</h1>

<table>
  <tr>
  	<th>Evtdate</th>
    <th>Evtname</th>
    <th>Evtdeparttime</th>
    <th>Evtstarttime</th>
    <th>Evtprice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.evtdate %></td>
    <td><%= event.evtname %></td>
    <td><%= event.evtdeparttime %></td>
    <td><%= event.evtstarttime %></td>
    <td><%= event.evtprice %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
