<h2>Events and Activities</h2>

<p>In addition to many <a href="tournament_info.php">tournaments</a>,
game reviews and lessons by <a href="pros.php">professionals</a>,
the vendor area, and other Go-related activities, we also have 
these activities:</p>

<p class="notice">
	All events, prices, and times subject to change.
</p>

<table class="semantic fullwidth zebra">
	<tbody>
		<% @arEventsByDate.each do |d,arEvt| %>
			<tr class="date-header">
				<th colspan="7">
					<%= d %>
				</th>
			</tr>
			<tr class="lesser-header">
				<th>Event</th>
				<th>Transport Departure Time</th>
				<th>Event Start/Arrival Time</th>
				<th>Price</th>
				<th colspan="3"></th>
			</tr>
			<% arEvt.each do |e| %>
				<tr>
					<td><%= e.evtname %></td>
					<td><%= e.evtdeparttime %></td>
					<td><%= e.evtstarttime %></td>
					<td><%= e.evtprice %></td>
					<td><%= link_to 'Show', e %></td>
					<td><%= link_to 'Edit', edit_event_path(e) %></td>
					<td><%= link_to 'Destroy', e, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
