%h2 Events and Activities
%p
  In addition to many
  = link_to 'tournaments,', tournaments_path
  game reviews and lessons by
  = link_to 'professionals,', vip_path
  the vendor area, and other Go-related activities, we also have
  these activities:
%p.notice
  All events, prices, and times subject to change.
%table.semantic.fullwidth.zebra
  %tbody
    - @arEventsByDate.each do |d,arEvt|
      %tr.date-header
        %th{ :colspan => current_user_is_admin? ? 6 : 4 }= d
      %tr.lesser-header
        %th Event
        %th Transport Departure Time
        %th Event Start/Arrival Time
        %th Price
        - if current_user_is_admin?
          %th{:colspan => "2"}
      - arEvt.each do |e|
        %tr
          %td= e.evtname
          %td= e.evtdeparttime
          %td= e.evtstarttime
          %td= e.evtprice
          - if current_user_is_admin?
            %td= link_to 'Edit', edit_event_path(e)
            %td= link_to 'Destroy', e, :confirm => 'Are you sure?', :method => :delete
%br/

- if current_user_is_admin?
  = link_to 'New Event', new_event_path
