%h2= @event.evtname

%table.lightweight
  %tbody
    - %w[evtdate evtdeparttime evtstarttime].each do |a|
      %tr
        %th= trl_attr 'event', a
        %td= @event[a]
    %tr
      %th= trl_attr 'event', 'evtprice'
      %td= format_price(@event.evtprice)

%br

= link_to 'Edit', edit_event_path(@event)
|
\#{link_to 'Back', events_path}
