%h2 Volunteers
= editable_text('volunteers')

%h2 Contact Us

- if can? :manage, Contact
  .row-of-buttons
    = button_to 'Add Contact', new_contact_path, :method => "get"

%table.semantic.fullwidth.zebra
  %thead
    %tr
      %th= trl_attr "contact", "title"
      %th Name
      %th= trl_attr "contact", "email"
      %th= trl_attr "contact", "phone"
      - if can? :manage, Contact
        %th{:colspan => 2}
  %tbody
    - @contacts.each do |c|
      %tr
        %td= c.title
        %td= c.full_name
        %td= mail_to c.email
        %td= c.phone
        - if can? :manage, c
          %td.align-center= link_to "edit", edit_contact_path(c)
          %td.align-center= link_to "delete", contact_path(c), :method => :delete
