%h2= page_title

%p There are #{@not_checked_in_attendees.count + @checked_in_attendees.count} total attendees registered.

- if not @not_checked_in_attendees.empty?

  %h3 Not Checked In (#{@not_checked_in_attendees.count})

  %list-filter{data: {list: ".check-in-list", item: ".tbody > .row", value: ".name > a"}}

  %div.responsive-table.check-in-list
    %div.thead
      %div.row
        %div.th.col-xxs-2
        %div.th.col-xxs-4
          Attendee
        %div.th.col-xxs-2
          AGA ID
        %div.th.col-xxs-4
          Registered By

    %div.tbody
      - @not_checked_in_attendees.each do |attendee|
        %div{class: "row #{cleared_to_check_in(attendee) ? 'cleared' : 'not-cleared'}"}
          %div.td.col-xxs-2
            = button_to "Check In",
              { action: "check_in_attendee",
              checked_in: true, id: attendee.user.id, attendee_id: attendee.id },
              { disabled: !cleared_to_check_in(attendee), method: :patch, class: "hide-xxs" }

            = button_to "✔",
              { action: "check_in_attendee",
              checked_in: true, id: attendee.user.id, attendee_id: attendee.id },
              { disabled: !cleared_to_check_in(attendee), method: :patch, class: "show-xxs" }
          %div.td.col-xxs-4.name
            = link_to attendee.full_name, check_in_attendee_path(attendee)
          %div.td.col-xxs-2
            - if attendee.aga_id.present?
              = link_to attendee.aga_id, "http://agagd.usgo.org/player/#{attendee.aga_id}/"
          %div.td.col-xxs-4.user
            = link_to attendee.user.email, user_path(attendee.user)

- if not @checked_in_attendees.empty?

  %h3 Checked In (#{@checked_in_attendees.count})

  %list-filter{data: {list: ".checked-in-attendees", item: "li", value: "a"}}

  %ul.checked-in-attendees
    - @checked_in_attendees.each do |attendee|
      %li= link_to attendee.full_name, check_in_attendee_path(attendee)
