= form_for @activity_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @activity_category }

  %fieldset
    .field.flex
      .field-key
        = f.label :name, "Category Name"
      .field-value
        = f.text_field :name
    .field.flex
      = render partial: "shared/md_area", locals: { :obj => :activity_category, :atr => :description}

  %br

  .actions
    = f.submit 'Save'
