- emh = Activity.model_name.human
- emhp = emh.pluralize

-# Do not titleize the category name because that will downcase acronyms
%h2= @activity_category.name

-if @activity_category.has_description?
  %div= markdown(@activity_category.description).html_safe

- if current_user.present?
  .row-of-buttons
    - if can? :create, Activity
      .inline-children= button_to "New #{emh}", new_activity_path, :method => "get"
    - if can? :edit, @activity_category
      .inline-children= button_to_edit @activity_category
    - if can? :delete, @activity_category
      .inline-children= button_to_delete @activity_category
- else
  %p
    These #{emhp.downcase} are available to all
    = link_to "registrants.", new_user_registration_path
    If you have already registered, please
    = link_to "sign in", new_user_session_path
    and select the activities you want to participate in.

%p.notice-small All #{emhp.downcase}, prices, and times subject to change.

%table.semantic.fullwidth
  %tbody
    - @activities_by_date.each do |d,arEvt|
      %tr.greater-header
        %th{ :colspan => current_user_is_admin? ? 9 : 7 }
          = d.to_formatted_s(:long_with_day)
          = " - Day Off!" if d === DAY_OFF_DATE[@year.year]
      %tr.lesser-header
        %th= emh
        %th Leave
        %th Return
        %th.numeric Price
        - if can?(:edit, Activity) && can?(:delete, Activity)
          %th{:colspan => "2"}
      - arEvt.each do |e|
        %tr
          %td= link_to e.name, e
          %td= e.leave_time.to_formatted_s(:american)
          %td
            - if e.return_time.present?
              = e.return_time.to_formatted_s(:american)
          %td.numeric= e.price_for_display

          - if can? :edit, e
            %td= link_to 'Edit', edit_activity_path(e)
          - if can? :delete, e
            %td= link_to 'Delete', e, :data => {:confirm => "Delete #{emh}?  If any attendees are signed up, those signups will be lost too."}, :method => :delete
