%h2 Shirts
%p
  Every Congress attendee gets a free T-Shirt, with the Congress
  logo (not shown).
  - if @year.to_i == 2013
    This year, we're excited to have a variety of styles!

- if current_user.present?
  .row-of-buttons
    - if can? :create, Shirt
      = button_to 'Add Shirt', new_shirt_path, :method => "get"

- if @shirts.empty?
  %p No shirts yet this year.
- else
  %table.bleached.push-top
    %tbody
      - @shirts.each do |shirt|
        %tr
          %td
            .shirt-image
              = link_to shirt.image_url do
                %img{:src => shirt.image_url}
          %td.valign-top
            %h3= link_to_if can?(:edit, shirt), shirt.name, edit_shirt_path(shirt)
            .color-block{:style => "background-color: ##{shirt.hex_triplet}"}
            - if shirt.disabled?
              %p No longer available
            %p= shirt.description
            - if can?(:delete, shirt) && shirt.attendees.empty?
              %p= link_to_delete(shirt)
