- authnet_form_url = AuthorizeNet::SIM::Transaction::Gateway::TEST

= form_for :sim_transaction, :url => authnet_form_url do |f|
  = sim_fields(@sim_transaction)
  = label_tag 'x_amount', "Total: #{number_to_currency(@amount)}"
  %br
  = label_tag 'x_card_num', 'Credit Card Number'
  = text_field_tag 'x_card_num'
  %br
  = label_tag 'x_exp_date', 'Expiration Date (MMYY)'
  = text_field_tag 'x_exp_date'
  %br/
  = f.submit 'Purchase'
