%h2 Thank you for the payment
%p Your authorization code is #{@auth_code}.

- if @transaction_saved
  %p
    You may now
    = link_to('return to gocongress.org', 'http://www.gocongress.org')
    and review your payment history.
- else
  %p.notice
    Your payment was successful, but we failed to save a record of
    it on gocongress.org. Don't worry, because there'll be an
    offical record. Please tell the
    = link_to 'registrar', contacts_path
    so you get credit for it.  Also, tell the
    = link_to 'webmaster', contacts_path
    too, so they can fix it.  Thanks!
  - if @error_msg.present?
    %p.smalltext= @error_msg
