%h2 Discounts

.flow-padding= button_to "Create New Discount", new_discount_path, :method => "get"

- if @discounts.empty?
  %p There are no discounts for #{@year}.
- else
  %table.semantic.zebra.fullwidth
    %tr
      %th= trl_attr 'discount', 'name'
      %th Amount
      %th= trl_attr 'discount', 'is_automatic'
      %th= trl_attr 'discount', 'age_min'
      %th= trl_attr 'discount', 'age_max'
      %th{ :colspan => 3 }

    - @discounts.each do |discount|
      %tr
        %td= discount.name
        %td= discount.amount
        %td= discount.is_automatic ? "Yes" : "No"
        %td= discount.age_min
        %td= discount.age_max
        %td= link_to 'Details', discount
        %td= link_to 'Edit', edit_discount_path(discount)
        %td= link_to 'Delete', discount, :confirm => 'Are you sure?', :method => :delete

%br
