%h2= @discount.name

%table.lightweight
  %tr
    %th{:style => "width:150px; padding-right:20px;"} Amount
    %td= cents_to_currency @discount.amount
  %tr
    %th= trl_attr 'discount', 'is_automatic'
    %td= @discount.is_automatic? ? "Yes" : "No"
  %tr
    %th= trl_attr 'discount', 'age_min'
    %td= @discount.age_min.present? ? @discount.age_min : "None"
  %tr
    %th= trl_attr 'discount', 'age_max'
    %td= @discount.age_max.present? ? @discount.age_max : "None"
  %tr
    %th= trl_attr 'discount', 'min_reg_date'
    %td= @discount.min_reg_date

%br

= link_to 'Edit', edit_discount_path(@discount)
\|
= link_to 'Back', discounts_path
