= form_for @plan_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan_category }

  %fieldset
    .field
      = f.label trl_attr 'plan_category', 'name'
      = f.text_field :name
    .field
      = f.label :event_id
      = f.select :event_id, @events_for_select
    .field
      = render partial: "shared/md_area", locals: { :obj => :plan_category, :atr => :description }
    .field
      = f.label trl_attr 'plan_category', 'mandatory'
      = f.check_box :mandatory
      %span.smalltext
        = Attendee.model_name.human.pluralize
        must select at least one
        = Plan.model_name.human.downcase + ' in this category.'

  %fieldset
    .field
      = label '', ''
      = f.submit 'Save'
