= form_for @plan_category do |f|
  -if @plan_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan_category.errors.count, "error")} prohibited this plan_category from being saved:"
      %ul
        - @plan_category.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.wider-labels
    .field
      = f.label trl_attr 'plan_category', 'name'
      = f.text_field :name
    .field
      = f.label trl_attr 'plan_category', 'show_on_prices_page'
      = f.check_box :show_on_prices_page
    .field
      = f.label trl_attr 'plan_category', 'show_on_roomboard_page'
      = f.check_box :show_on_roomboard_page
    .field
      = f.label trl_attr 'plan_category', 'show_on_reg_form'
      = f.check_box :show_on_reg_form

  .actions
    = f.submit 'Save'
