= form_for @plan_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan_category }

  %fieldset.wider-labels
    .field
      = f.label trl_attr 'plan_category', 'name'
      = f.text_field :name
    .field
      %label{ :for => 'description'}
        Description
        %br
        %span.smalltext
          You can format the text (bold, etc.) with
          %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown
          syntax.
      = f.text_area :description, { :class => 'wide', :rows => 5 }

  .actions
    = f.submit 'Save'
