= form_for @plan_category do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan_category }

  %fieldset.wider-labels
    .field
      = f.label trl_attr 'plan_category', 'name'
      = f.text_field :name

  .actions
    = f.submit 'Save'
