- if can? :manage, PlanCategory
  %h2 Plan Categories
  .flow-padding= button_to 'Create a new Plan Category', new_plan_category_path, :method => "get"

  %table.semantic.fullwidth.zebra
    %thead
      %tr
        %th Category
        %th{:colspan=>2}
    %tbody
      - @plan_categories.each do |pc|
        %tr
          %td= link_to pc.name, pc
          %td= link_to 'Edit', edit_plan_category_path(pc)
          %td= link_to 'Delete', pc, :confirm => 'Are you sure?', :method => :delete

- else
  %h2 Costs
  %ul
    - @plan_categories.each do |pc|
      %li= link_to pc.name, pc

%br
