%h2 Costs

- if can?(:manage, PlanCategory) && @year.registration_phase == 'closed'
  .flow-padding= button_to 'Create New Category', new_plan_category_path, :method => "get"

- if @plan_categories.where(year: @year.year).empty?
  %p Please check back for updates.
- else
  = form_tag(update_order_plan_categories_path, :method => :put) do

    %table.semantic.fullwidth
      %tbody
        - @plan_categories_by_event.each do |event, cats|
          %tr
            %th{colspan: can?(:manage, PlanCategory) ? 5 : 2}= event.to_s
          - cats.each do |c|
            %tr
              - if @show_order_fields
                %td= number_field_tag "ordinals[#{c.id}]", c.ordinal, :min => 1, :step => 1, :size => 2
              %td= link_to c.name, c
              %td= markdown_if_present(c.description)
              - if can?(:manage, c)
                %td= link_to 'Edit', edit_plan_category_path(c)
                - if @year.registration_phase == 'closed'
                  %td= link_to 'Delete', c, :data => {:confirm => "Delete #{c.name}?"}, :method => :delete

    %br

    - if @show_order_fields
      %div= submit_tag 'Update Order'
      %br
