%h2= @plan_category.name
= markdown_if_present(@plan_category.description)

- if @plans.empty?
  %p This category has no plans yet.
- else
  %table.semantic.fullwidth
    %thead
      %tr
        %th Plan
        %th Attendee Age
        %th Description
        - if @show_availability
          %th # Available*
        %th.numeric Price
    %tbody
      - @plans.each do |p|
        %tr
          %td= link_to p.name, p
          %td= p.age_range_in_words
          %td= Markdown.new( p.description ).to_html.html_safe
          - if @show_availability
            %td= p.describe_inventory_available
          %td.numeric= p.price_for_display

- if @show_availability
  - pcnpd = @plan_category.name.pluralize.downcase
  %p.smalltext
    * Some #{pcnpd} have limited availability. To reserve these #{pcnpd},
    please pay your full cost immediately after registration.

%br

- if can? :manage, PlanCategory
  .inline-children
    = button_to 'New Plan', new_plan_path, :method => :get
    = button_to 'Edit this Category', edit_plan_category_path(@plan_category), :method => :get
    = button_to 'Delete this Category', @plan_category, :method => :delete, :confirm => 'Really delete this category? Are you sure?'
