%h2= @plan_category.name

- if can? :manage, PlanCategory
  %table.lightweight
    %tbody
      %tr
        %th Show on Registration Form:
        %td= @plan_category.show_on_reg_form ? "Yes" : "No"
  %br

- if @plan_category.plans.empty?
  %p This category has no plans yet.
- else
  %table.semantic.zebra.fullwidth
    %thead
      %tr
        %th Plan
        %th Attendee Age
        %th Description
        %th.numeric Price
    %tbody
      - @plan_category.plans.each do |p|
        %tr
          %td= link_to p.name, p
          %td= p.age_range_in_words
          %td= Markdown.new( p.description ).to_html.html_safe
          %td.numeric= format_price p.price

%br

- if can? :manage, PlanCategory
  = link_to 'Edit this category', edit_plan_category_path(@plan_category)
