= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(@transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.wider-labels
    .field
      = f.label :user_id, "User email address"
      = f.select :user_id, @user_array, { :include_blank => true }
      %br
      %span.smalltext.aligned-with-input 
        Each user account has a unique email address.
        Make sure you choose the right one.
    .field
      = f.label :trantype
      = f.select :trantype, Transaction::TRANTYPES
      %br
      %span.smalltext.aligned-with-input 
        Select
        %strong sale
        for user payments.
    .field
      = f.label :amount
      %span.smalltext $
      = f.text_field :amount, :size => 10

  %fieldset.wider-labels
    %legend Gateway Transactions (Credit Card "Sale")
    .field
      = f.label :gwdate
      = f.date_select :gwdate, :include_blank => true, :start_year => Time.now.year - 1, :end_year => Time.now.year
    .field
      = f.label :gwtranid
      = f.text_field :gwtranid

  %fieldset.wider-labels
    %legend USGC Checking Account Transactions
    .field
      = f.label :check_number
      = f.text_field :check_number

  %fieldset.wider-labels
    .field
      = label '', ''
      = f.submit "Submit"