= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(@transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.wider-labels
    .field
      = f.label :user_id, "User email address"
      = f.select :user_id, @user_array, { :include_blank => true }
      %br
      %span.smalltext.aligned-with-input 
        Each user account has a unique email address.
        Make sure you choose the right one.
    .field
      = f.label :trantype
      = f.select :trantype, Transaction::TRANTYPES, :selected => 'S'
      %br
      %span.smalltext.aligned-with-input 
        Select
        %strong sale
        for user payments.
    .field
      = f.label :gwdate
      = f.date_select :gwdate
    .field
      = f.label :gwtranid
      = f.text_field :gwtranid
    .field
      = f.label :amount
      = f.text_field :amount, :size => 10
    .field
      = label '', ''
      = f.submit "Submit"