= form_for(@transaction) do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @transaction }

  %fieldset.wider-labels
    .field
      = f.label :user_id, "User email address"
      %input#user_email_picker{:type => "text", :name => "user_email", :size => 40, :value => @email_picker_value}
      %br
      %span.smalltext.aligned-with-input 
        Each user account has a unique email address.
        Make sure you choose the right one.
    .field
      = f.label :trantype
      = f.select :trantype, Transaction::TRANTYPES
      %br
      %span.smalltext.aligned-with-input 
        Select
        %strong sale
        for user payments.
    .field
      = f.label :amount
      = f.text_field :amount, :size => 10
      %span.smalltext $
    .field
      = f.label :comment
      = f.text_field :comment, :size => 40
      %br
      %span.smalltext.aligned-with-input
        Optional.  Useful for Comps and Refunds.

  %fieldset.wider-labels
    %legend Gateway Transactions (Credit Card "Sale")
    .field
      = f.label :gwdate
      = f.date_select :gwdate, :include_blank => true, :start_year => Time.now.year - 1, :end_year => Time.now.year
    .field
      = f.label :gwtranid
      = f.text_field :gwtranid

  %fieldset.wider-labels
    %legend USGC Checking Account Transactions
    .field
      = f.label :check_number
      = f.text_field :check_number, :size => 10

  %fieldset.wider-labels
    .field
      = label '', ''
      = f.submit "Submit"

:javascript
  $("#user_email_picker").autocomplete({
      source: '#{@email_list}'.split(',')
    });
