%h2 Transactions

.txn-tools

  - unless @transactions.empty?
    .pagination-controls= paginate @transactions

  .txn-button
    = button_to 'New Transaction', new_transaction_path, :method => "get"

  .trn-search-form
    %form{ :href => transactions_path, :method => :get, :style => "display:inline-block" }
      = text_field_tag 'email', params['email'], :placeholder => "Enter part of email"
      %button{ :type => :submit } Search
    - if params['email'].present?
      = link_to "reset", transactions_path

- if @transactions.empty?
  %p No transactions found.

- else
  %table.semantic.zebra.fullwidth
    %thead
      %tr
        %th= trl_attr 'transaction', 'created_at'
        %th= trl_attr 'transaction', 'trantype'
        %th= trl_attr 'transaction', 'instrument'
        %th Amount
        %th User
        %th= trl_attr 'transaction', 'gwtranid'
        %th= trl_attr 'transaction', 'check_number'
        %th= trl_attr 'transaction', 'updated_by_user_id'
        %th{ :colspan => 3 }

    %tbody
      - @transactions.each do |t|
        %tr
          %td= t.created_at.to_date
          %td= t.get_trantype_name
          %td= t.get_instrument_name
          %td.numeric= cents_to_currency t.amount, :unit => ""
          %td= link_to t.user.email, ledger_user_path(t.user)
          %td.numeric= t.gwtranid
          %td.numeric= t.check_number
          %td
            - if t.updated_by_user.present?
              = t.updated_by_user.email
          %td= link_to 'Details', t
          %td= link_to 'Edit', edit_transaction_path(t)
          %td= link_to 'Delete', t, :data => {:confirm => 'Are you sure?'}, :method => :delete
