%h2 All Transactions

.flow-padding= button_to 'New Transaction', new_transaction_path, :method => "get"

.pagination-controls
  = paginate @transactions

%table.semantic.zebra.fullwidth
  %thead
    %tr
      %th Creation Date
      %th= trl_attr 'transaction', 'trantype'
      %th Amount
      %th User (Primary Attendee)
      %th Email
      %th= trl_attr 'transaction', 'gwtranid'
      %th= trl_attr 'transaction', 'check_number'
      %th Last Edit
      %th{ :colspan => 3 }

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.created_at.to_date
        %td= transaction.get_trantype_name
        %td.numeric= number_to_currency transaction.amount, :unit => ""
        %td= link_to transaction.user.primary_attendee.get_full_name, ledger_user_path(transaction.user)
        %td= transaction.user.email
        %td.numeric= transaction.gwtranid
        %td.numeric= transaction.check_number
        %td
          - if transaction.updated_by_user.present?
            = transaction.updated_by_user.primary_attendee.given_name
        %td= link_to 'Show', transaction
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Delete', transaction, :confirm => 'Are you sure?', :method => :delete
