%h1 Transaction Details

%table.lightweight
  %tr
    %th User
    %td= @transaction.user.email
    %td.smalltext= link_to "Show this user", user_path(@transaction.user)
  %tr
    %th= trl_attr 'transaction', 'trantype'
    %td= @transaction.get_trantype_name
  %tr
    %th Amount
    %td= number_to_currency @transaction.amount, :unit => ''
  %tr
    %th= trl_attr 'transaction', 'gwtranid'
    %td= @transaction.gwtranid
    %td.smalltext Unique ID from payment gateway
  %tr
    %th= trl_attr 'transaction', 'gwdate'
    %td
      - if @transaction.gwdate.present?
        = @transaction.gwdate.to_formatted_s(:long)
    %td.smalltext When the payment gateway received the transaction
  %tr
    %th= trl_attr 'transaction', 'check_number'
    %td= @transaction.check_number
    %td.smalltext For transactions involving the USGC checking account
  %tr
    %th Creation Date
    %td= @transaction.created_at.to_formatted_s(:long)
    %td.smalltext When the transaction was entered on this website
  %tr
    %th Modification Date
    %td= @transaction.updated_at.to_formatted_s(:long)
    %td.smalltext When the transaction was last edited on this website

%p  
  = link_to 'Edit', edit_transaction_path(@transaction) 
