%h1 Transaction Details

%table.lightweight
  %tr
    %th User
    %td= @transaction.user.email
    %td.smalltext= link_to "Show this user", user_path(@transaction.user)
  %tr
    %th Transaction Type
    %td= @transaction.get_trantype_name
  %tr
    %th Amount
    %td= number_to_currency @transaction.amount, :unit => ''
  %tr
    %th Gateway Transaction ID
    %td= @transaction.gwtranid
    %td.smalltext Unique ID from payment gateway
  %tr
    %th Gateway Date
    %td= @transaction.gwdate.to_formatted_s(:long)
    %td.smalltext When the payment gateway received the transaction
  %tr
    %th Creation Date
    %td= @transaction.created_at.to_formatted_s(:long)
    %td.smalltext When the transaction was entered on this website

%p  
  = link_to 'Edit', edit_transaction_path(@transaction) 
  |
  = link_to 'Back', transactions_path
