<p>
  <b>User:</b>
  <%= @transaction.user.email %>
</p>

<p>
  <b>Trantype:</b>
  <%= @transaction.trantype %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Gwtranid:</b>
  <%= @transaction.gwtranid %>
</p>

<p>
  <b>Gateway Date:</b>
  <%= @transaction.gwdate %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
