%h2 Transaction Details

%table.lightweight.dont-wrap-th
  %tr
    %th User
    %td= @transaction.user.email
    %td.smalltext= link_to "Show this user", user_path(@transaction.user)
  %tr
    %th= trl_attr 'transaction', 'trantype'
    %td= @transaction.get_trantype_name
  %tr
    %th= trl_attr 'transaction', 'instrument'
    %td= @transaction.get_instrument_name
  %tr
    %th Amount
    %td= cents_to_currency @transaction.amount, :unit => ''
  %tr
    %th Comment
    %td{:colspan=>2}
      - if @transaction.comment.present?
        = @transaction.comment
      - else
        No comment
  %tr
    %th= trl_attr 'transaction', 'check_number'
    %td= @transaction.check_number
  %tr
    %th= trl_attr 'transaction', 'gwtranid'
    %td
      - if @transaction.receipt_url.present?
        %a(href="#{@transaction.receipt_url}")= @transaction.gwtranid
      - else
        = @transaction.gwtranid
    %td.smalltext Unique ID from payment gateway
  %tr
    %th= trl_attr 'transaction', 'gwdate'
    %td
      - if @transaction.gwdate.present?
        = @transaction.gwdate.to_formatted_s(:long)
    %td.smalltext When the payment gateway received the transaction
  %tr
    %th= trl_attr 'transaction', 'created_at'
    %td= @transaction.created_at.to_formatted_s(:long)
    %td.smalltext When the transaction was entered on this website
  %tr
    %th= trl_attr 'transaction', 'updated_at'
    %td= @transaction.updated_at.to_formatted_s(:long)
    %td.smalltext When the transaction was last edited on this website
  %tr
    %th= trl_attr 'transaction', 'updated_by_user_id'
    %td
      - if @transaction.updated_by_user.present?
        = @transaction.updated_by_user.email
    %td.smalltext The admin who last modified this transaction

%p
  = link_to 'Edit', edit_transaction_path(@transaction)
