%h2= @activity.name

%table.lightweight
  %tbody
    %tr
      %th= trl_attr 'activity', 'event_category_id'
      %td= @activity.event_category.name
    %tr
      %th= trl_attr 'activity', 'price'
      %td= format_price @activity.price
    %tr
      %th= trl_attr 'activity', 'location'
      %td= @activity.location
    %tr
      %th= trl_attr 'activity', 'notes'
      %td= @activity.notes
    %tr
      %th Date
      %td= @activity.start.to_date

%br
%h3 Schedule
%table.lightweight
  %tbody
    %tr
    - %w[depart_time start return_depart_time return_arrive_time].each do |a|
      %tr
        %th= trl_attr 'activity', a
        %td
          - if @activity[a].present?
            = @activity[a].to_time.to_formatted_s(:american)

%br

= link_to 'Edit', edit_activity_path(@activity)
