%h2= @activity.name

%table.lightweight
  %tbody
    %tr
      %th= trl_attr :activity, :activity_category_id
      %td= link_to @activity.activity_category.name, @activity.activity_category
    %tr
      %th= trl_attr :activity, :price
      %td= @activity.price_for_display
    %tr
      %th= trl_attr :activity, :url
      %td= link_to @activity.url, @activity.url
    %tr
      %th= trl_attr :activity, :phone
      %td= @activity.phone
    %tr
      %th= trl_attr :activity, :location
      %td= @activity.location
    %tr
      %th Date
      %td= @activity.leave_time.to_date
    - %w[leave_time return_time].each do |a|
      %tr
        %th= trl_attr :activity, a
        %td
          - if @activity[a].present?
            = @activity[a].to_formatted_s(:american)
    %tr
      %th= Attendee.model_name.human.pluralize
      %td= @activity.attendees.count

%div= markdown(@activity.notes).html_safe

%br

- if can? :manage, @activity
  .inline-children
    = button_to 'Edit', edit_activity_path(@activity), :method => :get
    = button_to 'Delete', @activity, :method => :delete, :data => {:confirm => 'Are you sure?'}
