= form_for @plan do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan }

  %fieldset
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :plan_category_id
      = f.select :plan_category_id, @plan_categories
    .field
      = render partial: "shared/md_area", locals: { :obj => :plan, :atr => :description }
    .field
      = f.label :price
      = f.text_field :price
    .field
      = f.label :inventory
      = f.text_field :inventory, :size => 3
      %span.smalltext
        Useful for room plans with limited availability.
        Leave blank if unlimited.
    .field
      = f.label :max_quantity
      = f.text_field :max_quantity, :size => 3
      %span.smalltext
        How many should each
        %strong attendee
        be allowed to purchase?

  %fieldset
    %legend Attendee Age Requirements
    %p Certain plans are intended for youth, for teens, or for adults.
    .field
      = f.label :age_min
      = f.text_field :age_min
    .field
      = f.label :age_max
      = f.text_field :age_max
      %span.smalltext (optional)

  %fieldset
    .field
      %label
      = f.submit 'Save'
