= form_for @plan do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan }

  %fieldset
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :plan_category_id
      = f.select :plan_category_id, @plan_categories
    .field
      %label{ :for => 'plan_description'}
        Description
        %br
        %span.smalltext
          You can format the text (bold, etc.) with
          %a{ :href => 'http://en.wikipedia.org/wiki/Markdown', :target => '_blank' } Markdown
          syntax.
      = f.text_area :description, { :class => 'wide', :rows => 5 }
    .field
      = f.label :price
      = f.text_field :price
    .field
      = f.label :max_quantity
      = f.text_field :max_quantity, :size => 3
      %span.smalltext
        How many should each
        %strong attendee
        be allowed to purchase?

  %fieldset
    %legend Attendee Age Requirements
    %p Certain plans are intended for youth, for teens, or for adults.
    .field
      = f.label :age_min
      = f.text_field :age_min
    .field
      = f.label :age_max
      = f.text_field :age_max
      %span.smalltext (optional)

  %br

  .actions
    = f.submit 'Save'
