= form_for @plan do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @plan }

  %fieldset
    .field.flex
      .field-key
        = f.label :name
      .field-value
        = f.text_field :name

    .field.flex
      .field-key
        = f.label :plan_category_id
      .field-value
        = f.select :plan_category_id, @plan_categories

    .field.flex
      = render partial: "shared/md_area", locals: { :obj => :plan, :atr => :description }

    .field.flex
      .field-key
        = f.label :inventory
      .field-value
        = f.text_field :inventory, :size => 3
        .field-help-text
          Useful for room plans with limited availability.
          Leave blank if unlimited.

    .field.flex
      .field-key
        = f.label :max_quantity
      .field-value
        = f.text_field :max_quantity, :size => 3
        .field-help-text
          How many should each
          %strong attendee
          be allowed to purchase?

    .field.flex
      .field-key
        = f.label :disabled
      .field-value
        = f.check_box :disabled
        .field-help-text
          = Attendee.model_name.human.pluralize
          cannot select this
          = Plan.model_name.human.downcase

    .field.flex
      .field-key
        = f.label :show_disabled
      .field-value
        = f.check_box :show_disabled
        .field-help-text
          = Attendee.model_name.human.pluralize
          can see this plan even if it is disabled

  %fieldset
    %legend Price

    .field.flex
      .field-key
        = f.label :price
      .field-value
        = number_field_for_cents f, :price, @plan.price

    .field.flex
      .field-key
        = f.label :daily
      .field-value
        = f.check_box :daily
        .field-help-text The price is a daily rate.

    .field.flex
      .field-key
        = f.label :needs_staff_approval
      .field-value
        = f.check_box :needs_staff_approval, :style => "vertical-align: top; margin-top: 2px;"
        .field-help-text{:style => "display: inline-block; padding: 3px 0px 0px 0px; width: 375px;"}
          Selectable, but not purchaseable through the website. "Contact the
          Registrar" will be shown instead of the price. Price must be zero.

    .field.flex
      .field-key
        = f.label :n_a
      .field-value
        = f.check_box :n_a
        .field-help-text
          "N/A" will be shown instead of "Free" if the price is zero.

  %fieldset
    %legend Attendee Age Requirements
    %p Certain plans are intended for youth, for teens, or for adults.

    .field.flex
      .field-key
        = f.label :age_min
      .field-value
        = f.number_field :age_min, size: 3, min: 0, value: 0
      
    .field.flex
      .field-key
        = f.label :age_max
      .field-value
        = f.number_field :age_max, size: 3
        .field-help-text (optional)

  = f.submit 'Save', :class => 'button button-large pull-right save'
