%h2 All Plans
.flow-padding= button_to 'Create a new Plan', new_plan_path, :method => "get"
%p
  Remember, the
  = link_to "Plan Category", plan_categories_path
  determines which pages the Plan appears on.

%table.semantic.zebra.fullwidth
  %tbody
    - @plans_grouped.each do |grouping, plans_in_group|
      %tr.greater-header
        %th{ :colspan => 9 }
          - if plans_in_group.first.plan_category_id.present?
            = plans_in_group.first.plan_category.name
          - else
            No Category
      %tr.lesser-header
        %th Attendee Age
        %th= trl_attr 'plan', 'name'
        %th= trl_attr 'plan', 'description'
        %th.numeric= trl_attr 'plan', 'inventory'
        %th.numeric= trl_attr 'plan', 'max_quantity'
        %th.numeric= trl_attr 'plan', 'price'
        %th{ :colspan => 3 }

      - plans_in_group.each do |plan|
        %tr
          %td= plan.age_range_in_words
          %td= plan.name
          %td= Markdown.new( plan.description ).to_html.html_safe
          %td.numeric= plan.inventory
          %td.numeric= plan.max_quantity
          %td.numeric= format_price plan.price
          %td= link_to 'Details', plan
          %td= link_to 'Edit', edit_plan_path(plan)
          %td= link_to 'Delete', plan, :confirm => 'Are you sure?', :method => :delete

%br
