%h2= @plan.name
= Markdown.new( @plan.description ).to_html.html_safe
%br
%table.lightweight
  %tr
    %th= trl_attr 'plan_category', 'name'
    %td= link_to @plan.plan_category.name, @plan.plan_category
  %tr
    %th= trl_attr 'plan', 'price'
    %td= @plan.price_for_display
  %tr
    %th= trl_attr 'plan', 'inventory'
    %td= @plan.describe_inventory_available
  %tr
    %th= trl_attr 'plan', 'max_quantity'
    %td= @plan.max_quantity.nil? ? "Unlimited" : @plan.max_quantity
  %tr
    %th Attendee Age
    %td= @plan.age_range_in_words
  %tr
    %th= Attendee.model_name.human.pluralize
    %td= @plan.attendees.count

%br

- if can? :manage, @plan
  .inline-children
    = button_to 'Edit', edit_plan_path(@plan), :method => :get
    = button_to 'Delete', @plan, :method => :delete, :confirm => 'Are you sure?'
