%p
  %b Name:
  = @plan.name
%p
  %b Description:
  = Markdown.new( @plan.description ).to_html.html_safe
%p
  %b Price:
  = @plan.price
%p
  %b Age min:
  = @plan.age_min
%p
  %b Age max:
  = @plan.age_max

= link_to 'Edit', edit_plan_path(@plan)
