%h2 Plan Details

%table.lightweight
  %tr
    %th= trl_attr 'plan', 'name'
    %td= @plan.name
  %tr
    %th= trl_attr 'plan', 'has_rooms'
    %td= @plan.has_rooms ? 'Yes' : 'No'
  %tr
    %th= trl_attr 'plan', 'has_meals'
    %td= @plan.has_meals ? 'Yes' : 'No'
  %tr
    %th= trl_attr 'plan', 'price'
    %td= number_to_currency @plan.price
  %tr
    %th= trl_attr 'plan', 'age_min'
    %td= @plan.age_min
  %tr
    %th= trl_attr 'plan', 'age_max'
    %td= @plan.age_max
  %tr
    %th= trl_attr 'plan', 'description'
    %td= Markdown.new( @plan.description ).to_html.html_safe

%br

= link_to 'Edit', edit_plan_path(@plan)
