-# The following form_for() needs a few options.  If it weren't
-# for the :as option, params[:year] would be overwritten by
-# the routing segment named :year.  Also, the form action url
-# is non-standard.
= form_for(@year, :as => :year_record, :url => update_year_path) do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @year }

  %h3 Location
  %fieldset
    .field 
      = f.label :event_type
      = f.select :event_type, options_for_select(Year.event_types.map {|key, value| [key.titleize, Year.event_types.key(value)]}, @year.event_type)
    .field
      = f.label :city
      = f.text_field :city
    .field
      = f.label :state
      = f.text_field :state
    .field
      = f.label :timezone
      = f.time_zone_select :timezone

  %h3 Dates
  %fieldset
    .field
      = f.label :start_date
      = f.date_select :start_date
    .field
      = f.label :day_off_date
      = f.date_select :day_off_date
    .field
      = f.label :date_range
      = f.text_field :date_range
      %span.smalltext eg. August 4 - 12

  %h3 Venue
  %fieldset
    .field
      = f.label :venue_name
      = f.text_field :venue_name
    .field
      = f.label :venue_address
      = f.text_field :venue_address
    .field
      = f.label :venue_city
      = f.text_field :venue_city
    .field
      = f.label :venue_state
      = f.text_field :venue_state, :size => 2
    .field
      = f.label :venue_zip
      = f.text_field :venue_zip, :size => 10
    .field
      = f.label :venue_url
      = f.text_field :venue_url
    .field
      = f.label :venue_phone
      = f.text_field :venue_phone, :size => 20

  %h3 Policies
  %fieldset
    .field
      = f.label :refund_policy
      = f.text_area :refund_policy
      
  %h3 Miscellaneous
  %fieldset
    .field
      = f.label :ordinal_number
      = f.number_field :ordinal_number, :size => 3
      %span.smalltext eg. enter 28 for the 28th congress
    .field
      = f.label :reply_to_email
      = f.text_field :reply_to_email
      %span.smalltext for automatic email sent by the website
    .field
      = f.label :twitter_url
      = f.text_field :twitter_url
    .field
      = f.label :registration_phase
      = f.select :registration_phase, @reg_phase_opts
      %span.smalltext Plan categories are fixed during the registration period.

  %fieldset
    .field
      = label '', ''
      = f.submit "Submit"
