-# The following form_for() needs a few options.  If it weren't
-# for the :as option, params[:year] would be overwritten by
-# the routing segment named :year.  Also, the form action url
-# is non-standard.
= form_for(@year, :as => :year_record, :url => update_year_path) do |f|
  = render :partial => "shared/error_messages", :locals => { :resource => @year }

  %h3 Location
  %fieldset
    .field.flex
      .field-key
        = f.label :event_type
      .field-value
        = f.select :event_type, options_for_select(Year.event_types.map {|key, value| [key.titleize, Year.event_types.key(value)]}, @year.event_type)

    .field.flex
      .field-key
        = f.label :city
      .field-value
        = f.text_field :city

    .field.flex
      .field-key
        = f.label :state
      .field-value
        = f.text_field :state

    .field.flex
      .field-key
        = f.label :timezone
      .field-value
        = f.time_zone_select :timezone

  %h3 Dates
  %fieldset
    .field.flex
      .field-key
        = f.label :start_date
      .field-value
        = f.date_select :start_date

    .field.flex
      .field-key
        = f.label :day_off_date
      .field-value
        = f.date_select :day_off_date

    .field.flex
      .field-key
        = f.label :date_range
      .field-value
        = f.text_field :date_range
        .field-help-text eg. August 4 - 12

  %h3 Venue
  %fieldset
    .field.flex
      .field-key
        = f.label :venue_name
      .field-value
        = f.text_field :venue_name

    .field.flex
      .field-key
        = f.label :venue_address
      .field-value
        = f.text_field :venue_address

    .field.flex
      .field-key
        = f.label :venue_city
      .field-value
        = f.text_field :venue_city

    .field.flex
      .field-key
        = f.label :venue_state
      .field-value
        = f.text_field :venue_state, :size => 2

    .field.flex
      .field-key
        = f.label :venue_zip
      .field-value
        = f.text_field :venue_zip, :size => 10

    .field.flex
      .field-key
        = f.label :venue_url
      .field-value
        = f.text_field :venue_url

    .field.flex
      .field-key
        = f.label :venue_phone
      .field-value
        = f.text_field :venue_phone, :size => 20

  %h3 Policies
  %fieldset
    .field.flex
      .field-key
        = f.label :refund_policy
      .field-value
        = f.text_area :refund_policy
      
  %h3 Miscellaneous
  %fieldset
    .field.flex
      %div.field-key
        = f.label :shirt
      %div.field-value
        %label
          = f.check_box :shirt
          %span.field-help-text Will this Congress have a T-shirt for attendees?

    .field.flex
      %div.field-key
        = f.label :ordinal_number
      %div.field-value
        = f.number_field :ordinal_number, :size => 3
        %div.field-help-text eg. enter 28 for the 28th congress

    .field.flex
      %div.field-key
        = f.label :reply_to_email
      %div.field-value
        = f.text_field :reply_to_email
        %div.field-help-text for automatic email sent by the website
    
    .field.flex
      %div.field-key
        = f.label :mailing_list_link
      %div.field-value
        = f.text_field :mailing_list_link
        %div.field-help-text
          The &ldquo;subscribe&rdquo; link for the mailing list for this year&rsquo;s
          Congress. There is a mailing list that carries over from year to year
          hosted on #{link_to "MailChimp", "https://mailchimp.com/"}. Please
          contact the #{link_to "Congress webmaster", "mailto:webmaster@gocongress.org"}
          to get access.

    .field.flex
      %div.field-key
        = f.label :twitter_url
      %div.field-value
        = f.text_field :twitter_url

    .field.flex
      %div.field-key
        = f.label :registration_phase
      %div.field-value
        = f.select :registration_phase, @reg_phase_opts
        %div.field-help-text Plan categories are fixed during the registration period.

  %h3 COVID-19
  %fieldset
    .field.flex 
      %div.field-key
        = f.label :vaccination_proof_required
      %div.field-value
        %label
          =f.check_box :vaccination_proof_required
          %span.field-help-text Include a required upload for vaccination proof as part of registration.

    .field.flex
      %div.field-key
        = f.label :covid_policy_url
      %div.field-value
        = f.text_field :covid_policy_url
        %div.field-help-text If a URL is present, attendees will be forced to indicate their agreement during registration with a checkbox.

  %fieldset
    .field
      = label '', ''
      = f.submit "Submit"
