%h2= page_title

%ul
  - @activities.each do |e|
    %li
      %a{:href=>"#activity_#{e.id}"}= e.name

- @activities_by_date.each do |d,activities|
  %h3= d.to_formatted_s(:long_with_day)
  %div{:style => "margin-left: 20px"}
    - activities.each do |e|
      %a{:id=>"activity_#{e.id}"}
      %h4= e.name + " - " + e.leave_time.to_s(:american)
      -if e.attendees.empty?
        %p
          %em No attendees currently signed up.
      -else
        %table.semantic
          %thead
            %tr
              %th Attendee
              %th Rank
              %th Age
          %tbody
            - e.attendees.order('family_name').each do |a|
              %tr
                %td= a.full_name
                %td= a.rank_name
                %td.numeric= a.age_in_years.to_i
