%h2= page_title

%ul
  - @events.each do |e|
    %li
      %a{:href=>"#event_#{e.id}"}= e.evtname

%h2{:style => "margin-top: 30px"}= @event_current.start.to_formatted_s(:long_with_day)
- @events.each do |e|
  -if e.start.day == @event_current.start.day
    %a{:id=>"event_#{e.id}"}
    %div{:style => "margin-left: 20px"}
      %h3= e.evtname + " - " + e.start.to_s(:american)
      -if e.attendees.empty?
        %p{:style => "font-style: italic"}
          No attendees currently signed up.
      -else
        %table.semantic
          %thead
            %tr
              %th Attendee
              %th Rank
          %tbody
            - e.attendees.order('family_name').each do |a|
              %tr
                %td.numeric= a.get_full_name
                %td.numeric= a.get_rank_name
  -else
    %h2{:style => "margin-top: 30px"}= e.start.to_formatted_s(:long_with_day)
    %a{:id=>"event_#{e.id}"}
    %div{:style => "margin-left: 20px"}
      %h3= e.evtname + " - " + e.start.to_s(:american)
      -if e.attendees.empty?
        %p{:style => "font-style: italic"}
          No attendees currently signed up.
      -else
      %table.semantic
        %thead
          %tr
            %th Attendee
            %th Rank
        %tbody
          - e.attendees.order('family_name').each do |a|
            %tr
              %td.numeric= a.get_full_name
              %td.numeric= a.get_rank_name
    -@event_current = e
