%h2 Admin Reports
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"
  %li= link_to "Attendees", attendees_reports_path
  %li= link_to "Events", events_reports_path
  %li= link_to "Invoices", invoices_reports_path
  %li= link_to "Overdue Initial Deposits", overdue_deposits_reports_path
  %li= link_to "Revenue", revenue_reports_path
  %li= link_to "Tournaments", tournaments_reports_path
  %li= link_to "Transactions", transactions_reports_path

%h3 Report Tips
%ul
  %li CSV exports can be opened in Excel
  %li In Excel, you can filter and sort the data to your heart&#39;s content.
  %li If there is no CSV export, you can still copy a table (use command-drag) and paste into Excel.

%h3 Printable Documents
%ul
  %li
    Attendee Registration Sheets
    %ul
      %li= link_to "A-L", atn_reg_sheets_reports_path(:min=>'a', :max=>'l')
      %li= link_to "M-Z", atn_reg_sheets_reports_path(:min=>'m', :max=>'z')
  %li Attendee Badges
  %li
    User Cost Summaries
    %ul
      %li= link_to "A-L", user_invoices_reports_path(:min=>'a', :max=>'l')
      %li= link_to "M-Z", user_invoices_reports_path(:min=>'m', :max=>'z')
