%h2 Admin Reports

.vertical-form-instructions
  %h3 Tips
  %ul
    %li CSV exports can be opened in Excel
    %li In Excel, you can filter and sort the data to your heart's content.
    %li If there is no CSV export, you can still copy a table (use command-drag) and paste into Excel.

%h3 General
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"
  %li= link_to "Attendees", rpt_attendee_report_path
  %li= link_to "Users with No Attendees", rpt_attendeeless_user_report_path
  %li= link_to "Minor Agreements Report", rpt_minor_agreements_report_path

%h3 Plans
%ul
  %li= link_to "Daily-rate Plans", rpt_daily_plan_report_path
  %li= link_to "Daily-rate Plan Details", rpt_daily_plan_details_report_path

%h3 Money
%ul
  %li= link_to "Cost Summaries", rpt_cost_summary_report_path
  %li= link_to "Invoices", invoices_reports_path
  %li= link_to "Outstanding Balances", rpt_outstanding_balance_report_path
  %li= link_to "Transactions", rpt_transaction_report_path

%h3 Tournaments
%ul
  %li= link_to "U.S. Open Players Report", rpt_usopen_players_report_path

%h3 Activities
%ul
  %li= link_to Activity.model_name.human.pluralize, activities_reports_path

%h3 Items
%ul
  %li= link_to "Badges", rpt_badge_report_path
  %li= link_to "T-Shirt Sizes", rpt_tshirt_report_path


%h3 Printable Documents
%ul
  %li
    Attendee Registration Sheets:
    #{link_to "A-L", atn_reg_sheets_reports_path(:min=>'a', :max=>'l')},
    = link_to "M-Z", atn_reg_sheets_reports_path(:min=>'m', :max=>'z')
  %li
    User Cost Summaries
    #{link_to "A-L", user_invoices_reports_path(:min=>'a', :max=>'l')},
    = link_to "M-Z", user_invoices_reports_path(:min=>'m', :max=>'z')
