%h2 Admin Reports
%ul
  %li= link_to "Attendee Email Addresses", "reports/emails"
  %li= link_to "Attendees", reports_attendees_path
  %li= link_to "Invoices", reports_invoices_path
  %li= link_to "Overdue Initial Deposits", reports_overdue_deposits_path
  %li= link_to "Transactions", reports_transactions_path

%h3 Report Tips
%ul
  %li CSV exports can be opened in Excel
  %li In Excel, you can filter and sort the data to your heart&#39;s content.
