%h2 Estimated Revenue

%p
  The figures below are
  %strong estimates
  of revenue.
  For the exact figures, please consult the
  = link_to "Transactions Report.", transactions_reports_path

%h3 Registrations
  
%table.semantic
  %thead
    %tr
      %th Registration Type
      %th.numeric #
      %th.numeric Reg. Price
      %th.numeric Estimated $
  %tbody
    %tr
      %td Players
      %td.numeric= @player_count
      %td.numeric= Attendee.registration_price 'player'
      %td.numeric= number_to_currency(@player_reg_revenue_sum, :unit => '')
    %tr
      %td Non-Players
      %td.numeric= @nonplayer_count
      %td.numeric= Attendee.registration_price :nonplayer
      %td.numeric= number_to_currency(@nonplayer_reg_revenue_sum, :unit => '')
    %tr
      %td
        %strong Total
      %td.numeric= @player_count + @nonplayer_count
      %td.numeric
      %td.numeric= number_to_currency(@player_reg_revenue_sum + @nonplayer_reg_revenue_sum, :unit => '')

%h3 Plans
%p
  The table below shows
  = PlanCategory.model_name.human.downcase.pluralize
  that can be selected by
  = Attendee.model_name.human.downcase.pluralize + '.'
  Not shown:
  = @hidden_plan_categories.map {|c| c.name}.join(', ')

- plan_revenue_grand_total = 0
%table.semantic
  %thead
    %tr
      %th Category
      %th Plan
      %th.numeric Attendees
      %th.numeric Quantity
      %th.numeric Price
      %th.numeric Estimated $
  %tbody
    - @plan_categories.each do |c|
      - c.plans.order(:name).each do |p|
        - attnd_count = p.attendees.count
        - total_quantity = p.attendee_plans.sum(:quantity)
        - plan_revenue_total = total_quantity * p.price
        - plan_revenue_grand_total += plan_revenue_total
        %tr
          %td= c.name
          %td= p.name
          %td.numeric= attnd_count
          %td.numeric= total_quantity
          %td.numeric= number_to_currency(p.price, :unit => '')
          %td.numeric= number_to_currency(plan_revenue_total, :unit => '')
    %tr
      %td{:colspan => 5}
        %strong Total
      %td.numeric= number_to_currency(plan_revenue_grand_total, :unit => '')
