%noscript
  .noscript-warning
    %h3 GoCongress.org works best with JavaScript enabled

#header-container
  #header
    #usgc-title-container
      %h1
        = link_to "#{@year.year} U.S. #{@year.event_type == 'online' ? 'e-' : ''}Go Congress", year_path
    #usgc-when-where-container
      - if @year.in_person?
        = @congress_city + ', ' + @congress_state
        &bull;
      = @congress_date_range + ','
      = @year.year
