!!!
%html
  %head
    %meta{:content => "text/html", "http-equiv" => "Content-Type"}/
    %title
      US Go Congress
      = @year
      - unless controller_name == "home" and action_name == "index"
        = "- #{page_title}"

    -# Warning: Do not use stylesheet_link_tag :cache => true
    -# because that will try to write all.css, but Heroku is
    -# a readonly filesystem -Jared 2011.2.3
    -#= stylesheet_link_tag "main"
    -#= stylesheet_link_tag "scaffold"
    -#= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.11.custom.css"
    = stylesheet_link_tag :application

    -# These js files must be included in this exact order -Jared 11/30/10
    -#= javascript_include_tag "jquery.min.js"
    -#= javascript_include_tag "jquery-ui.min.js"
    -#= javascript_include_tag "rails"
    = javascript_include_tag :application

    -# To do: We only need the galleria stuff on the homepage Hiding this on other
    -# pages could improve page load by 80ms or more -Jared 2011.2.3
    -#= javascript_include_tag "galleria/galleria"
    -#= javascript_include_tag "galleria/themes/dots/galleria.dots.js"

    = csrf_meta_tag

  %body{:class => "#{@bodyClassList} year#{@year}"}

    %noscript
      #noscript-warning
        %h3 GoCongress.org works best with Javascript enabled

    #header-container
      #header
        #usgc-title-container
          %h1= link_to "#{@year} US Go Congress", year_path
        #usgc-when-where-container
          = @congress_city + ', ' + @congress_state
          = @congress_date_range + ','
          = @year
        %div{:style => "clear:both;"}
    .nav-container
      .nav
        %ul
          %li#nav-events
            %a{:href => events_path}
              Events &amp; <br> Activities
          %li#nav-tournaments
            %a{:href => tournaments_path} Tournaments
          %li#nav-pros
            %a{:href => vip_attendees_path} Pros
          %li#nav-rooms
            %a{:href => room_and_board_plans_path} Room &amp; <br> Board
          %li#nav-prices-extras
            %a{:href => prices_and_extras_plans_path} Prices &amp; <br> Extras
          %li#nav-faq= link_to "FAQ", faq_contents_path
          %li#nav-contact
            %a{:href => contact_path}
              Contact /<br> Volunteer
          %li#nav-who
            %a{:href => attendees_path}
              Who is <br> Coming?
          %li#nav-registration
            - if current_user.nil?
              = image_tag "icons/star.png", :class => 'register-star'
              %a{:href => new_user_registration_path}
                %br
                Register
            - else
              %a{:href => user_path(current_user.id) }
                My <br> Account
          %li#nav-login.last-child
            - if current_user.nil?
              %a.hmenu{:href => new_user_session_path}
                Sign <br> In
            - else
              %a.hmenu{:href => destroy_user_session_path}
                Sign <br> Out

    - if can? :see_admin_menu, :layout
      .nav-container-admin
        .nav
          %ul
            %li#nav-admin-title Admin Menu:
            %li#nav-admin-users= link_to "Users", users_path
            %li#nav-admin-transactions= link_to "Transactions", transactions_path
            %li#nav-admin-pricing= link_to "Pricing", pricing_path
            %li#nav-admin-content= link_to "Content", contents_path
            %li#nav-admin-reports= link_to "Reports", reports_path
            %li#nav-admin-placeholder.last-child

    .content
      / "Flash messages" required by Devise -Jared 12/20/10
      .rails-flash-notice= notice
      .rails-flash-alert= alert

      / Yield to view
      = yield

      %div{:style => "clear:both;"}

    -# The homepage (only) provides content_for this yield (a list of past years)
    = yield :before_footer

    #footer
      #sponsors
        %a{:href => "http://www.usgo.org"}
          = image_tag "sponsors/aga.jpg"
        - if @year == 2011
          %a{:href => "http://www.kbaduk.or.kr/eng/"}
            = image_tag "sponsors/kaba.jpg"
          %a{:href => "http://www.gokgs.com"}
            = image_tag "sponsors/kgs.jpg"
      #site-credit
        Content &copy; #{@year} US Go Congress
        %br/
        Web Programming by
        %a{:href => "http://www.jaredbeck.com", :target => "_blank"} Jared Beck
        %br/
        Hosted at
        %a{:href => "http://www.heroku.com", :target => "_blank"} Heroku
