!!!
%html
  %head
    %meta{:content => "text/html", "http-equiv" => "Content-Type"}/
    = favicon_link_tag "favicon.png"
    %title
      US Go Congress
      = @year.year
      - unless controller_name == "home" and action_name == "index"
        = "- #{page_title}"

    = csrf_meta_tag
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css'
    - if Rails.env.production?
      = render 'shared/google_analytics'

  %body{:class => "#{@bodyClassList} year#{@year.year}"}
    .body-container
      = render '/layouts/header'
      = render '/layouts/nav'

      .content

        / Rails flash messages
        - if flash[:notice]
          .flash.flash-notice= notice
        - if flash[:alert]
          .flash.flash-alert= alert

        / Yield to view
        = yield

        %div{:style => "clear:both;"}

      -# The homepage (only) provides content_for this yield (a list of past years)
      = yield :before_footer

      = render '/layouts/footer'
