!!!
%html
  %head
    %meta{:content => "text/html", "http-equiv" => "Content-Type"}/
    %title
      US Go Congress #{CONGRESS_YEAR}

    -# In production (perform_caching) link to all.css
    -# Else link for each css file in the stylesheets dir
    -# -Jared 2011.2.3
    = stylesheet_link_tag :all, :cache => true

    -# These js files must be included in this exact order -Jared 11/30/10
    = javascript_include_tag "jquery.min.js"
    = javascript_include_tag "rails"
    = javascript_include_tag "application"
    = javascript_include_tag "galleria/galleria"
    = javascript_include_tag "galleria/themes/dots/galleria.dots.js"
    = csrf_meta_tag
  %body{:class => @bodyClassList}
    / A few of the more verbose pages reference this named anchor -Jared 9/12/10
    %a{:name => "top"}
    #header-container
      #header
        #usgc-title-container
          %h1
            %a{:href => "/"}
              = CONGRESS_YEAR
              US Go Congress
        #usgc-when-where-container
          \#{CONGRESS_CITY}, #{CONGRESS_STATE} &nbsp;
          \#{CONGRESS_DATE_RANGE}, #{CONGRESS_YEAR}
        %div{:style => "clear:both;"}
    .nav-container
      .nav
        %ul
          %li#nav-events
            %a{:href => events_path}
              Events &amp; <br> Activities
          %li#nav-tournaments
            %a{:href => tournaments_path} Tournaments
          %li#nav-pros
            %a{:href => vip_path}
              Professionals <br> &amp; VIPs
          %li#nav-rooms
            %a{:href => plans_path} Room &amp; <br> Board 
          %li#nav-transportation
            %a{:href => "/home/transportation"}
              Trans-<br>portation
          %li#nav-volunteer
            %a{:href => jobs_path} Volunteer
          %li#nav-contact
            %a{:href => contact_path}
              Contact <br> Us
          %li#nav-who
            %a{:href => attendees_path}
              Who&#39;s <br> Coming
          %li#nav-registration
            - if current_user.nil?
              = image_tag "icons/star.png", :class => 'preregister-star'
              %a{:href => new_user_registration_path}
                %br
                Register
            - else
              %a{:href => user_path(current_user.id) }
                My <br> Account
          %li#nav-login.last-child
            - if current_user.nil?
              %a.hmenu{:href => new_user_session_path}
                Sign <br> In
            - else
              %a.hmenu{:href => destroy_user_session_path}
                Sign <br> Out
    
    - if user_signed_in? && current_user.is_admin?
      .nav-container-admin
        .nav
          %ul
            %li#nav-admin-title Admin Menu:
            %li#nav-admin-users
              %a{:href => users_path}
                Users
            %li#nav-admin-transactions
              %a{:href => transactions_path}
                Transactions
            %li#nav-admin-preregistrants
              %a{:href => preregistrants_path}
                Pre-registrants
            %li#nav-admin-placeholder.last-child
    
    #content
      / "Flash messages" required by Devise -Jared 12/20/10
      .rails-flash-notice= notice
      .rails-flash-alert= alert

      / Friendly noscript warning - Jared 7/27/10
      %noscript
        .error
          Please enable Javascript.  Thank you.
      = yield
      %div{:style => "clear:both;"}
    #footer
      /
        Sponsor logos, small and circular, with anchors, in the lower
        right corner - Jared 9/4/10
      #sponsors
        %a{:href => "http://www.usgo.org"}
          = image_tag "sponsors/aga.jpg"
        %a{:href => "http://www.gokgs.com"}
          = image_tag "sponsors/kgs.jpg"
      #site-credit
        Content &copy;<?=$GCYear?> US Go Congress
        %br/
        Web Programming by
        %a{:href => "http://www.jaredbeck.com", :target => "_blank"} Jared Beck
        and
        Alf Mikula
        %br/
        Hosted at
        %a{:href => "http://www.heroku.com", :target => "_blank"} Heroku
        - if Rails.env.present?
          %br/
          Environment is
          = Rails.env
