<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html">
	<title>US Go Congress <%= CONGRESS_YEAR %></title>
	<%= stylesheet_link_tag :all %>
	
	<!-- These js files must be included in this exact order -Jared 11/30/10 -->
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "rails" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "galleria/galleria" %>
	<%= javascript_include_tag "galleria/themes/dots/galleria.dots.js" %>
	
	<%= csrf_meta_tag %>
</head>
<body class="<%= @bodyClassList %>">

	<!-- A few of the more verbose pages reference this named anchor -Jared 9/12/10 -->
	<a name="top"></a>

	<div id="header-container">
		<div id="header">
			<div id="usgc-title-container">
				<h1><a href="/"><%= CONGRESS_YEAR %> US Go Congress</a></h1>
			</div>
			<div id="usgc-when-where-container">
				<%= CONGRESS_CITY %>, <%= CONGRESS_STATE %> &nbsp; 
				<%= CONGRESS_DATE_RANGE %>, <%= CONGRESS_YEAR %>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	
	<div id="nav-container">
		<div id="nav">
			<ul>
				<li id="nav-events">
					<a href="/events">Events &amp;<br />Activities</a>
				</li>
				<li id="nav-tournaments">
					<a href="#">Tournaments</a>
				</li>
				<li id="nav-pros">
					<a href="#">Professionals<br />&amp; VIPs</a>
				</li>
				<li id="nav-rooms">
					<a href="#">Room &amp;<br />Board</a>
				</li>
				<li id="nav-transportation">
					<a href="#">Trans-<br />portation</a>
				</li>
				<li id="nav-volunteer">
					<a href="/jobs">Volunteer</a>
				</li>
				<li id="nav-contact">
					<a href="/user_jobs">Contact<br />Us</a>
				</li>
				<li id="nav-who">
					<a href="/users">Who's<br />Coming</a>
				</li>
				<li id="nav-registration">
					<%= image_tag "icons/star.png", :class => 'preregister-star' %>
						<a href="/users/new">
							<br />Register
						</a>
				</li>
				<li id="nav-login" class="last-child">
					<a href="#" class="hmenu">
						Login
					</a> 
				</li>
			</ul>
		</div>
	</div>
	
	<div id="content">
	
		<!-- Breadcrumbs are defined in the controller - Jared 8/22/10 -->
		<% if crumbs.length > 0 %>
			<div id="breadcrumbs">
				<a href="/">Home</a>
				<% crumbs.each do |e| %>
					&gt; <a href="<%= e['url'] %>"><%= e["title"] %></a>
				<% end %>
			</div>
		<% end %>
	
		<!-- Friendly noscript warning - Jared 7/27/10 -->
		<noscript>
			<div class="error">
				Please enable Javascript.  Otherwise, we can't show you the nice photo gallery.  Thanks.
			</div>
		</noscript>

<%= yield %>

		<div style="clear:both;"></div>
	</div>
	
	<div id="footer">
	
		<!-- Sponsor logos, small and circular, with anchors, in the lower
		right corner - Jared 9/4/10 -->
		<div id="sponsors">
			<a href="http://www.usgo.org">
				<%= image_tag "sponsors/aga.jpg" %>
			</a>
			<a href="http://www.gokgs.com">
				<%= image_tag "sponsors/kgs.jpg" %>
			</a>
		</div>
		
		<div id="site-credit">	
			Content &copy;<?=$GCYear?> US Go Congress<br />
			Programming by <a target="_blank" href="mailto:jon@ctipc.com">Jon Hilt</a><br /> and 
			<a target="_blank" href="http://www.jaredbeck.com">Jared Beck</a><br />
			Hosted at <a target="_blank" href="http://www.ctipc.com">CT, Inc</a>
		</div>
	</div>
	
</body>
</html>
