!!!
%html
  %head
    %meta{:charset => 'UTF8'}
    %meta{:content => "text/html", "http-equiv" => "Content-Type"}/
    -#
      %meta{:content => "http:#{asset_path("logo/usgc/#{@logo_file}")}", :property => "og:image"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = render '/layouts/og_image'
    = favicon_link_tag "favicon.png"
    %title
      U.S. Go Congress
      = @year.year
      - unless controller_name == "home" and action_name == "index"
        = "- #{page_title}"

    = csrf_meta_tag
    = javascript_include_tag :application
    = stylesheet_link_tag asset_exists?("#{@year.year}/application") ? "#{@year.year}/application" : :application
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/ui-lightness/jquery-ui.css'
    - if Rails.env.production?
      = render 'shared/google_analytics'

  %body{:class => "#{@bodyClassList} year#{@year.year}"}
    .body-container
      = render "#{@year.year}/layouts/header" rescue render '/layouts/header'
      = render "#{@year.year}/layouts/nav" rescue render '/layouts/nav'
      .content
        - if flash[:notice]
          .flash.flash-notice= notice
        - if flash[:alert]
          .flash.flash-alert= alert
        = yield
        .clear
      = yield :before_footer
      = render "#{@year.year}/layouts/footer" rescue render '/layouts/footer'
